// --------------
// Article Header
// Contains top of article information: slug, headline, deck
//
// Example markup:
//
// <header class="article-header row">
//   <div class="large-10 large-centered columns">
//     <a href="#" class="article-slug">In The News</a>
//     <h1>Texas Oil Spill Makes Landfall in a Key Environmentally Sensitive Area</h1>
//     <p class="deck">The slick moved out of Galveston Bay, into the Gulf of Mexico, and south down the Texas coast to Matagorda Island.</p>
//   </div>
// </header>
//
// --------------

.article-header {
  margin-top: $column-gutter;
  margin-bottom: $column-gutter*1.5;
}
.article-slug {
  font-family: $font-sans;
  font-size: $size-text-medium;
}
