.article-full-width-byline {

  .article-author-image {
    height: 45px;
    width: 45px;
    margin-right: 22px;
  }

  .article-author-name {
    font-size: 18px;
  }

  .article-date {
    display: none;
    //font-size: 14px;
  }

  .social-sharing {
    //display: none;
    //@include breakpoint(medium-up) {
      display: block;
      margin-right: 12.5px;
      position: absolute;
      right: 64px;
      text-align: right;
      top: 50%;
      transform: translateY(-50%);
    //}
  }
}