// ----------
// Action Nav
// Contains the "Donate" and "Take Action" buttons
// ----------

.action-nav {
  margin-bottom: 5px;

  // Breakpoints
  @include breakpoint(tiny-only) {
    box-sizing: content-box;
    margin-left: -$column-gutter/2; // column gutter calculation
    margin-right: -$column-gutter/2;
    margin-top: 0;
  }
  @include breakpoint(small-up) {
    margin: $size-space $size-space*4 $size-space 0;
    text-align: right;
  }
  @include breakpoint(medium-up) {
    margin: $size-space*1.5 $size-space*4 $size-space*1.5 0;
  }
  @include breakpoint(large-up) {
    float: right;
    display: inline-block;
    padding-left: $size-space*2;
    margin: 11px 0 0 0; /* @todo fix this magic number */
  }
}

.action-nav-item {
  border-left: none;
  padding-left: 0;

  // Breakpoints
  @include breakpoint(tiny-only) {
    float: left;
    display: block;
    width: 50%;
    &:first-child {
      padding-right: 2px;
    }
    &:last-child {
      padding-left: 2px;
    }
  }
  @include breakpoint(small-up) {
    &:last-child {
      margin-left: $size-space;
    }
  }
}

.action-nav-link {
  @include breakpoint(tiny-only) {
    border-radius: 0 !important;
    font-size: $size-text-small + 5px !important;
    width: 100%;
  }
}