// -------
// Banners
// Full-image banners
// -------

/* @todo Add mobile style, javascript for image switching */

.banner {
  position: relative;
  height: 300px;
  margin-bottom: $column-gutter*1.5;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  // Variants
  &.dark-bg {
    h2, h3, h4, p, ul {
      color: $color-white;
    }
  }
  &.light-bg {
    h2, h3, h4, p, ul {
      color: $color-black;
    }
  }
  @include width-range(#{lower-bound($large-range)}, 840px) {
    height: 280px;
  }

  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    height: 400px;
    margin: 0 (-$column-gutter/2) $column-gutter (-$column-gutter/2);
    background-position: center center;
  }
  @include breakpoint(small-only) {
    height: 440px;
    margin: 0 (-$column-gutter) $column-gutter (-$column-gutter);
  }
}

.banner-text {
  position: absolute;
  margin-right: $column-gutter/2;
  text-shadow: 0 0 9px rgba($color-black, 0.2);

  @include breakpoint(tiny-up) {
    top: $column-gutter/2;
    left: $column-gutter/2;
  }
  @include breakpoint(small-only) {
    left: $column-gutter;
    margin-right: $column-gutter;
  }
  @include breakpoint(medium-up) {
    width: 45%;
  }
  @include breakpoint(large-up) {
    top: $column-gutter/2;
    left: $column-gutter;
  }
  @include width-range(#{lower-bound($large-range)}, 840px) {
    width: 49%;
  }

  &.full-width {
    width: 100%;
    left: 0;
    bottom: 0;
    top: auto;
    padding: $column-gutter;
  }
}

.banner-slug {
  display: block;
  font-family: $font-sans;
  font-size: $size-text-medium;
  
}

.banner-title {
  font-size: $size-text-large;
  margin-bottom: $column-gutter/2;

  @include breakpoint(large-up) {
    font-size: $size-text-engagement;
    font-weight: 300;
    line-height: $size-text-engagement;
    letter-spacing: -1px;
  }
}

.banner-blurb {
  font-style: italic;
  font-size: $size-text-small;
  line-height: $size-line-small;
  margin-bottom: $size-space;
}

.banner-links {
  font-family: $font-sans;
  font-size: $size-text-small;
  li {
    display: inline-block;
    &:not(:first-child):before {
      content: " | ";
      color: $color-light-gray;
      margin: 0 3px;
    }
  }
}

.banner-set {
  margin-top: $column-gutter;
  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    margin-top: 0;
    margin-bottom: $column-gutter*2;
  }
  @include width-range(#{lower-bound($large-range)}, 840px) {
    padding: 0;
    .columns {
      padding: 0;
    }
  }
}