// -------------
// Generic Cards
// Extend into other semantic classes
// -------------

%card {
  background-color: $color-white;
  border: 1px solid $color-light-gray;
  box-shadow: 0 1px 1px rgba(#000, 0.1);
  margin-bottom: $column-gutter*1.5;
  position: relative;

  @include transform(translateZ(0));
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

%card-content {
  font-size: $size-text-small - 1px;
  line-height: $size-text-small + 5px;
  padding: $column-gutter/2 $column-gutter/2 $column-gutter $column-gutter/2;
  p + p {
    margin-top: $size-space;
  }
}

%card-photo {
  overflow: hidden;
  img {
    @include user-select(none);
    width: 100%;
    vertical-align: middle;
  }
}

%card-banner {
  color: $color-white;
  font-family: $font-sans;
  font-size: $size-text-medium;
  padding: $size-space/2 $size-space;

  > i {
    font-size: $size-text-large;
    margin-right: $size-space/2;
    vertical-align: middle;
  }
}