.climate-flyway-map-container {
  background-color: #E9E9E9;
  overflow: hidden;
  position: relative;
  min-height: 400px;

  @include breakpoint(medium-only) {
    min-height: 540px;
  }

  @include breakpoint(large-up) {
    height: 700px;
  }
  @include breakpoint(min-width, 1000px) {
    height: 800px;
  }
}

.climate-flyway-map {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 20px;
  bottom: 0; 

  @include breakpoint(tiny-up) {
    height: 320px;
    top: -20px;
    @include transform(scale(0.4));
    svg {
      left: -415px;
    }
  }

  @include breakpoint(medium-up) {
    height: 600px;
    @include transform(scale(0.7));
    top: -100px;
    svg {
      left: -270px;
    }
  }
  @include breakpoint(large-up) {
    @include transform(scale(0.85));
    top: -30px;
    svg {
      left: -165px;
    }
  }
  @include breakpoint(min-width, 1000px) {
    @include transform(scale(1));
    top: 40px;
    svg { 
      left: -100px;
    }
  }

  svg {
    position: relative;
    height: 768px;
    width: 1024px;
  }

  .defaultMap { 
    fill: #FBF9F7; 
    &:hover,
    &.hover {
      fill: darken(#FBF9F7, 3%);
    }
  }
  .Pacific { 
    fill: #cfccc4; 
    &:hover,
    &.hover {
      fill: darken(#cfccc4, 5%);
    }
    &.active {
      fill: darken(#cfccc4, 10%);
    }
  }
  .Central { 
    fill: #f5da9d; 
    &:hover,
    &.hover {
      fill: darken(#f5da9d, 5%);
    }
    &.active {
      fill: darken(#f5da9d, 10%);
    }
  }
  .Mississippi { 
    fill: #ccda9b; 
    &:hover,
    &.hover {
      fill: darken(#ccda9b, 5%);
    }
    &.active {
      fill: darken(#ccda9b, 10%);
    }
  }
  .Atlantic { 
    fill: #b9dde8; 
    &:hover,
    &.hover {
      fill: darken(#b9dde8, 5%);
    }
    &.active {
      fill: darken(#b9dde8, 10%);
    }
  }
  .state-boundary {
    fill: none;
    stroke: rgba(0, 0, 0, 0.25);
    stroke-width: 0.5;
  }

}

.climate-flyway-overlay {
  background-color: $color-white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  overflow: auto;
  position: relative;
  z-index: 2;
  padding: 20px $column-gutter/2;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include breakpoint(max-width, #{upper-bound($medium-range)}) {
    float: none !important;
    min-height: 480px;
  }
  @include breakpoint(medium-up) {
    min-height: 600px;
  }
  @include width-range(#{lower-bound($small-range)}, #{upper-bound($medium-range)}) {
    margin-left: -$column-gutter/2;
    margin-right: -$column-gutter/2;
  }

  @include breakpoint(large-up) {
    padding: 20px $column-gutter;
    min-height: 0;
    max-height: 600px;
    float: left;
    width: 320px;
    top: 50px;
  }

  @include breakpoint(min-width, 1000px) {
    width: 370px;
  }

  table {
    margin-bottom: 0;
  }

  ul {
    @include columns(2);
    font-family: $font-sans;
    font-size: $size-text-small;
    line-height: 17px;
    list-style-type: none;
    margin: 0;
  }

  li {
    color: $color-bright-blue;
    cursor: pointer;
    margin-bottom: 7px;
  }

  h5 {
    margin: 21px 0 7px 0;
    font-size: $size-text-small;
    line-height: $size-text-base;

    &:first-child {
      margin-top: 0;
    }
  }

  th {
    background-color: #eee;
    position: relative;
    vertical-align: middle;

    span {
      display: block;
      &:hover {
        color: #111;
      }
    }

    span:before,
    span:after {
      content: "";
      position: absolute;
      border: 4px solid transparent;
      top: 50%;
      right: 7px;
    }

    span:after {
      border-top: 4px solid $color-text-gray;
    }
  }

  td {
    border: 1px solid $color-light-gray;
    border-top: 0px;
    vertical-align: middle;
    padding: 3px 5px;

    &:first-child { 
      border-left: 0px; 
      padding-left: 0;
    }
    &:last-child { 
      border-right: 0px; 
      padding-right: 0;
    }
  }

  tr:last-child td {
    border-bottom: 0px;
  }
  tr:first-child td {
    padding-top: 5px;
  }

  .scientific-name {
    font-size: 13px;
    color: #666;
  }

  .flyway-description {
    color: #555;
    font-size: $size-text-small - 1px;
    line-height: $size-line-small;
    margin-bottom: $column-gutter;
  }

  .close {
    position: absolute;
    top: 25px;
    right: 12.5px;

    font-size: 32px;
    color: #F15936;

    &:before {
      content: "×";
    }

    @include breakpoint(large-up) {
      right: 25px;
    }
  }

  @include breakpoint(max-width, #{upper-bound($medium-range)}) { 
    table {
      width: 100%;
      margin: 0;

      td, th {
        padding: 4px 10px !important; 
        min-height: 30px;
      }
    }

    ul, h5 {
      font-size: 17px;
      line-height: 20px;
    }
    
    li, h5 {
      margin-bottom: 10px;
    }
  }

}

.flyway-map-label {
  position: relative;
  top: 60px;
  padding: 0 20px;
  z-index: 2;

  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    top: 20px; 
  } 
}

.flyway-label {
  position: absolute;
  z-index: 2;
  text-align: center;
  pointer-events: none;

  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    font-size: 15px;
    line-height: 19px;
  }
}

.flyway-pacific-label {
  top: 60%; 
  left: 20%;
  @include breakpoint(min-width, 900px) { left: 25%; }
}

.flyway-central-label {
  top: 48%;
  left: 42%;
  @include breakpoint(medium-only) { left: 38%; }
  @include breakpoint(min-width, 900px) { left: 40%; }
}

.flyway-mississippi-label {
  top: 66%;
  right: 24%;
  @include breakpoint(medium-only) { right: 32%; }
  @include breakpoint(min-width, 900px) { right: 35%; }
}

.flyway-atlantic-label {
  top: 48%;
  right: 10%;
  @include breakpoint(medium-only) { right: 20%; }
  @include breakpoint(min-width, 900px) { right: 25%; }
}

.flyway-list-more {
  font-family: $font-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
}

.flyway-list-sort-copy {
  color: $color-middle-gray;
  font-family: $font-sans;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: $size-space;
}

.flyway-list-sort {
  position: relative;
  margin-bottom: 0;

  font-size: $size-text-small - 2px;
  line-height: $size-text-small + 3px;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    left: -25px;
    right: -25px;
    top: 0;
    background-color: #eee;
    z-index: -1;
    @include breakpoint(max-width, #{upper-bound($medium-range)}) {
      left: -12.5px;
      right: -12.5px;
    }
  }


  th {
    min-height: 30px;
    padding: 5px 15px 5px 5px !important;
    cursor: pointer;
    &:first-child {
      padding-left: 0 !important;
    }
  }
}