.conservation-slider {
  position: relative;
  @include font-smoothing(off);

  .slide {
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 20%;
  }

  .editorial-card-inline-photo { display: none; }

  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    .editorial-card-inline-photo {
      display: inline-block;
      float: left;
      width: 100px;
      margin: 0 $size-space $size-space*1.5 0;
      position: relative;
      top: 3px;
    }
    .editorial-card-slug,
    .editorial-card-title {
      margin-left: 100 + $size-space;
    }
    .editorial-card-content p {
      clear: left;
    }
  }
}

.conservation-wrapper {
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
}

.conservation-scroller {
  width: 500%;
}

.conservation-slide-image {
  padding: 0 !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  background-color: #ddd;
  min-height: 300px;
  pointer-events: none;

  @include breakpoint(small-up) {
    min-height: 350px;
  }
  @include breakpoint(large-up) {
    min-height: 400px;
  }
  @include breakpoint(min-width, 900px) {
    min-height: 450px;
  }
  @include breakpoint(min-width, 1100px) {
    min-height: 620px;
    float: left;
    width: 50%;
  }
}

.conservation-slide-text {
  background-color: #f8f8f8;
  padding-top: $column-gutter;
  padding-bottom: $column-gutter;
  position: relative;
  z-index: 1;

  .editorial-card.index {
    margin: $column-gutter*1.5 0 0 (-$column-gutter/2);
  }

  @include breakpoint(large-up) {
    // max-width: 500px;
    padding: $column-gutter;
  }

  @include breakpoint(min-width, 1100px) {
    float: right;
    width: 50%;
    .column {
      max-width: 500px;
    }
  }
}

.conservation-slide-headline {
  color: $color-bright-blue;
}

.conservation-slider-button {
  display: none;
  position: absolute;
  top: 150px;
  z-index: 2;
  width: 50px;
  height: 60px;
  margin-top: -30px;
  cursor: pointer;
  background-color: rgba($color-black, 0.5);

  background-image: url(arrow-left.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px auto;

  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
    background-image: url(arrow-right.png);
  }

  @include breakpoint(small-up) {
    top: 175px;
  }
  @include breakpoint(large-up) {
    top: 200px;
  }
  @include breakpoint(min-width, 900px) {
    top: 225px;
  }
  @include breakpoint(min-width, 1100px) {
    top: 310px;
  }
  @include breakpoint(min-width, 1000px) {
    display: block;
  }
}

.conservation-indicator {
  text-align: center;
  margin: $column-gutter auto;
}

.conservation-indicator-icon {
  margin: 0 $size-space;
  opacity: 0.25;
  cursor: pointer;

  img {
    height: 35px;
    width: auto;
  }

  &.active {
    opacity: 1;
  }

  @include breakpoint(small-up) {
    margin: 0 $size-space*1.5;
    img { height: 50px; }
  }
  @include breakpoint(large-up) {
    margin: 0 $size-space*3;
  }
}