.flyway-paths {
  position: relative;

  .flyway-megamap-point {
    position: absolute !important;
    top: auto;
    bottom: 70px;
    left: 30px;
    margin-top: -180px;
    min-width: 120px;
    max-width: 150px;

    @include breakpoint(min-width, 950px) {
      margin-top: -220px;
    }

    &:hover {
      .portrait {
        @include transform(none);
      }
    }

    .name {
      line-height: $size-line-small;
    }
    .bird {
      font-size: $size-text-small;
      font-weight: 600;
    }
    .flyway {
      font-size: $size-text-tiny;
    }
  }
}

.flyway-path-map {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 0;
  width: 100%;
  @include transition(opacity 0.5s ease-in-out);

  &.current {
    position: relative;
    opacity: 1;
    z-index: 1;

    .flyway-megamap-point {
      bottom: 55px;
    }
  }
}

.flyway-path-description,
.flyway-path-columns {
  position: absolute;
  top: 0;
  opacity: 0;
  @include transition(opacity 0.5s ease-in-out);

  &.current {
    position: relative;
    opacity: 1;
    overflow: hidden;
  }
}

.flyway-path-dots {
  margin: $size-space*1.5 auto;
  text-align: center;

  a {
    display: inline-block;
  }

  .dot {
    display: inline-block;
    margin: 0 2px;
    width: 12px;
    height: 12px;
    background-color: rgba(#000, 0.2);
    border-radius: 100%;
    &.active {
      background-color: rgba(#000, 0.6);
    }
  }
}