.flyway-slides {
  position: relative;
  background-color: #f8f8f8;
  overflow: hidden;
}

.flyway-slide {
  width: 100%;
  opacity: 0;
  position: absolute;
  background-color: #f8f8f8;
  padding-top: $column-gutter;
  @include transition(opacity 0.5s ease-in-out);

  &.current {
    opacity: 1;
    position: relative;
  }
}

.flyway-slides-paddle {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 50px;
  height: 55px;
  margin-top: -27.5px;
  background-color: rgba($color-black, 0.25);

  background-image: url(arrow-left.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px auto;

  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
    background-image: url(arrow-right.png);
  }

  @include breakpoint(large-up) {
    display: block;
  }
}