.past-magazin-issue {
  .magazin-issues-list {
    .magazine-issue {
      .node {
        margin: 10px auto 30px;
        .magazin-issue-title a {
          font-family: $font-sans;
          font-size: $size-text-small;
        }
        .magazin-issue-article h4 {
          font-family: $font-sans;
          margin-bottom: $size-space;
        }
      }
      &:nth-of-type(2n+1) {
        @include breakpoint(medium-only) {
          clear: both;
        }
        @include breakpoint(small-only) {
          clear: both;
        }
        @include breakpoint(tiny-only) {
          clear: both;
        }
      }

      &:nth-of-type(3n+1) {
        @include breakpoint(large-up) {
          clear: both;
        }
      }
    }
    .magazine-issue-year {
      h2 {
        margin-top: 10px;
      }
    }
  }
}
