// ------------
// Mailing List
// Pre-footer CTA for subscribing to the mailing list
// ------------

/* @todo refactor the hell out of this */

%mailing-list-bird {
  &:before {
    content: "";
    position: absolute;
    background-image: url(engagement-bird-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
  }
  @include breakpoint(min-width, 920px) {
    &:before {
      bottom: -35px;
      left: -20px;
      width: 140px;
      height: 140px;
    }
  }
  @include breakpoint(max-width, 919px) {
    padding-top: $size-space;
    &:before {
      left: 50%;
      margin-left: -30px;
      top: -55px;
    }
  }
}


.mailing-list {
  background-color: $color-bone-white;
  color: $color-warm-gray;  
  font-family: $font-sans;
  padding: $column-gutter 0;
  .row {
    position: relative;
    @extend %mailing-list-bird;
  }
}
.mailing-list-headline {
  color: $color-warm-gray; 
  font-size: $size-text-engagement;
  font-weight: 300;
  line-height: $size-text-engagement;
  margin-bottom: 0;
}
.mailing-list-caption {
  font-size: $size-text-base;
  line-height: $size-line-base;
}

@include breakpoint(tiny-up) {
  .mailing-list {
    text-align: center;
  }
  .mailing-list-form {
    margin-top: $size-space;
  }
}

@include breakpoint(medium-up) {
  .mailing-list-text,
  .mailing-list-form {
    display: inline-block;
    vertical-align: middle;
  }
  .mailing-list-text {
    text-align: left;
    width: 40%;
  }
  .mailing-list-form {
    width: 60%;
    margin-top: 0;
    text-align: right;
    input {
      display: inline-block;
      width: auto;
      margin: 0 0 0 $size-space;
    }
  }
  .mailing-list-input {
    min-width: 240px;
  }
}
@include breakpoint(max-width, 840px) {
  .mailing-list-input {
    min-width: 200px;
  }
  .mailing-list-headline {
    font-size: $size-text-large;
    line-height: $size-text-large;
    margin-bottom: $size-space/2;
  }
  .mailing-list-caption {
    font-size: $size-text-small;
    line-height: $size-line-small;
  }
}

@include breakpoint(min-width, 920px) {
  .mailing-list-text {
    padding-left: 105px;
    width: 60%;
  }
  .mailing-list-form {
    width: 40%;
  }
}

// Variants

$color-warbler-yellow: #DAA84B;
.mailing-list.warbler {
  .row:before {
    background-image: url(engagement-bird-3.png);
    width: 80px;
    height: 80px;
    top: -50px;
    @include breakpoint(min-width, 920px) {
      bottom: auto;
      top: -32px;
      left: -40px;
      width: 175px;
      height: 160px;
    }
  }

  .button {
    background-color: $color-warbler-yellow;
    &:hover {
      background-color: darken($color-warbler-yellow, 15%);
    }
  }
}
