.microsite-banner {
  background-color: $color-white;
  min-height: 50px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;

  // Article page variation
  &.minimal {
    padding: 10px 0;

    .header-subtitle {
      float: left;
      display: inline-block;
      color: $color-dark-gray;
    }

    @include breakpoint(min-width, 961px) {
      display: none;
    }
  }

  &.focal-bird {
    
  }
}

// Focal bird banner elements
.microsite-banner { 

  .focal-bird-thumb {
    width: 92px;
    height: 92px;
    margin-bottom: 0;
  }

  .focal-bird-header {
    float: left;
    margin-left: $column-gutter/2;

    small a {
      color: $color-orange;
      position: relative;
      top: 5px;
      left: 3px;
    }

    .headline {
      margin-bottom: 0;
    }
  }

  .focal-bird-find {
    font-family: $font-sans;
    font-size: $size-text-medium;
    line-height: $size-text-medium;
    margin-top: 35px;
  }
}

// Geographic search stuff
.microsite-banner {
  &.geographic-search {
    z-index: 103;
  }
}

.microsite-cta {
  float: right;
}