.search-tag{
  background-color: #fdf7da;
}
//------------------- Top Search Form ---------------//
.top-search-form{
  margin-top: 65px;
}
.top-search-form-input{
  float: left;
  margin-right: 2%;
  width: 85%;
  input{
    font-size: 30px;
    font-weight: 300;
    height: 47px;
  }
}
.top-search-form-submit{
  height: 47px;
  flex: left;
  font-size: $size-text-large;
  font-weight: 300;
  width: 13%;
}
//------------------- Filter Block ---------------//
.filter-list{
  font-family: $font-sans;
  font-size: $size-text-medium;
  list-style-type: none;
  margin-bottom: 35px;
  padding-left: 30px;
  li{
    margin-bottom: 5px;
  }
  a.active{
    color: #000;
  }
  &.section-nav{
    margin: 0;
    padding: 0;
    span{
      color: #89867e;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  @include breakpoint(max-width, 768px) {
    margin-left: 0px;
    padding-left: 0px;
  }
}
.filter-list-heading{
  margin-bottom: 5px;
}
.index-list {
  @include breakpoint(max-width, 768px) {
    margin-bottom: 60px;
  }
}
