// --------------
// Section Header
// Placed on the first `.row` of a section for spacing
// Can include a Section Nav floated right
// --------------

.section-header {
  position: relative;
  margin: $column-gutter auto;

  h1, h2, h3 {
    margin-bottom: 0;
  }
  
  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    h2, h3 {
      text-align: center;
    }
  }

  body.black-bg & {
    h1, h2, h3 {
      color: $color-light-gray;
    }
    a {
      color: $color-light-gray;
      &:hover {
        color: $color-white;
      }
    }
  }
}

.section-header-slug {
  display: block;
  font-size: $size-text-medium;
  font-family: $font-sans;
}