// -----------
// Section Nav
// Floats right in a section header at the top of a section
// -----------

.section-nav {
  font-family: $font-sans;
  margin-top: $size-space;
  text-align: center;

  // Children
  li:not(:last-of-type):after {
    content: " | ";
    color: rgba($color-warm-gray, 0.5);
    margin: 0 $size-space/2;
  }
  a {
    color: $color-warm-gray;
    &:hover {
      color: darken($color-warm-gray, 20%);
    }
    &.cta {
      color: $color-orange;
      &:hover {
        color: darken($color-orange, 15%);
      }
    }
  }
  i {
    vertical-align: middle;
  }
  select {
    margin-bottom: 0;
    margin-left: $size-space;
    min-width: 200px;
  }

  // Breakpoints
  @include breakpoint(medium-only) {
    text-align: left;
  }
  @include breakpoint(large-up) {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    right: $column-gutter/2;
    text-align: right;
  }
}