// --------------------
// Secondary Navigation
// --------------------

.secondary-nav {
  @include breakpoint(large-up) {
    @include font-smoothing(off);
    margin-bottom: $size-space;
    font-size: $size-text-small + 1px;
    line-height: $size-text-small;
    text-align: right;
    padding-top: $size-space*1.5;
    a {
      color: $color-middle-gray;
      &:hover {
        color: darken($color-middle-gray, 10%);
      }
    }
    li {
      padding: 0 $size-space;
      border-left: 1px solid $color-text-gray;
      &:first-of-type {
        border-left: none;
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    .social-sharing-icon {
      margin: 0 5px;
    }
  }
  @include breakpoint(min-width, 880px) {
    margin-bottom: $size-space*1.5;
  }

  // Variants
  .global-header.dark-text & {
    a {
      color: $color-text-gray;
    }
    li {
      border-left-color: $color-light-gray;
    }
  }
}