// -------
// Sidebar
// Can be any width, mostly extended by more specific
// page type sidebar classes.
// -------

.sidebar {
  margin-bottom: $column-gutter;
}

.sidebar-section {
  margin-bottom: $column-gutter; 
  @include breakpoint(large-up) {
    margin-bottom: $column-gutter*2;
  }

  &:last-child {
    margin-bottom: $column-gutter/2;
  }
}