/* @todo Document this whole thing */

.slideshow {
  position: relative;

  body.black-bg & {
    color: $color-white !important;
  }

  @include breakpoint(large-up) {
    margin-bottom: -30px;
    &.standalone {
      // Negative margin-top doesn't work in Firefox. Use top property instead.
      top: -60px;
    }
  }
}

.slide {
  float: left;
  @include transform(translateZ(0));

  &.title-slide,
  &.end-slide {
    .slide-img {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(rgba($color-black, 0.6), rgba($color-black, 0.65));
      }
    }
  }
}

.title-slide-content,
.end-slide-content {
  color: $color-white;

  h1, h2, h3 {
    color: $color-white;
    margin-bottom: $size-space;
  }

  > .columns,
  > .column {
    position: absolute;
    max-width: $row-width;
    top: $column-gutter;

    @include breakpoint(large-up) {
      @include transform(translateY(-50%));
      top: 50%;
    }
  }

  .engagement-card {
    h1, h2, h3 {
      color: $color-orange;
    }
    color: $color-dark-gray;
  }
}

.title-slide-button,
.end-slide-button {
  padding-left: 50px !important;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
  }
  &:before {
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 100%;
    background-color: rgba(darken($color-pea-green, 15%), 0.5);
  }
}

.title-slide-button {
  &:after {
    left: 16px;
    top: 12px;
    border: 9px solid transparent;
    border-left: 9px solid $color-white;
  }
}

.end-slide-button {
  i {
    position: absolute;
    left: 12px;
    top: 12px;
  }
}

.end-slide-links {
  font-family: $font-sans;
  font-size: $size-text-medium;
  li {
    &:not(:first-child) {
      &:before {
        content: " | ";
        margin: 0 4px;
      }
    }
  }
}

.slideshow-title {
  h3 {
    margin-bottom: $column-gutter/2;
  }
}

.slideshow-indicator {
  color: $color-black;
  font-family: $font-sans;
  font-size: $size-text-small;
  line-height: $size-line-small;
  text-align: center;
  margin-bottom: $size-space;

  .slideshow-control {
    position: relative;
    top: 1px;
    margin: 0 5px;
    font-size: 12px;
    &.inactive {
      opacity: 0;
      pointer-events: none;
    }
  }

  .social-sharing-icon {
    margin: 5px;
  }

  @include breakpoint(large-up) {
    text-align: right;
  }
}

.slideshow-wrapper {
  overflow: hidden;
}

.slide-img {
  pointer-events: none;
  overflow: hidden;
  text-align: center;
  background-color: $color-light-gray;

  body.black-bg & {
    background-color: #202020;
  }

  @include breakpoint(large-up) {
    min-height: 480px;
  }

  img {
    height: 100%;
    vertical-align: middle;
  }
}
.slide-caption {
  color: #888;
  font-size: $size-text-small;
  font-style: italic;
  line-height: $size-line-small;
  text-align: left;
  margin-top: $size-space;
}

.slideshow-button {
  @include transition(opacity 0.25s ease-in-out);
  opacity: 0;
  pointer-events: none;

  position: absolute;
  top: 40%;
  z-index: 2;
  width: 50px;
  height: 55px;
  background-color: rgba($color-black, 0.5);

  background-image: url(../img/arrow-left.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px auto;

  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
    background-image: url(../img/arrow-right.png);
  }

  .slideshow:hover & {
    opacity: 1;
    pointer-events: visible;
    cursor: pointer;
  }

  body.touch & {
    display: none;
  }
}

// Black background variation
body.black-bg {
  .slideshow,
  .slideshow-indicator,
  .slide-caption {
    color: $color-white;
  }
}

// Fix overlapping primary tabs.
body.node-type-slideshow {
  #tabs {
    position: relative;
    z-index: 10;
  }
}

.slideshow-sidebar-block {
  .editorial-card-content {
    min-height: inherit;
  }
}
