@include breakpoint(large-up) {
  .static-page-content {
    .text-container {
      padding-bottom: 70px;
    }
    .deck {
      margin-bottom: 25.5px;
    }
  }
}

h2 {
  &.grey {
    color: #838078;
  }
}