.table-sort {
  select,
  input,
  button {
    width: 100%;
    margin-bottom: 0;
  }

  .table-sort-search {
    display: block;
    float: left;
    width: 82%;
  }
  .table-sort-button {
    display: block;
    float: left;
    width: 15%;
    height: 40px;
    margin-left: 3%;
  }

  .columns {
    margin-bottom: $size-space;
    @include breakpoint(large-up) {
      margin-bottom: 0;
    }
  }
}