// ---------------
// Thumbnail Strip
// Strip of thumbnails, scrollable with iScroll
// Each thumbnail corresponds to an image in a lightbox
// ---------------

.thumb-strip {
  position: relative;
  visibility: hidden;

  // The scrolling list
  ul {
    height: 0;
    position: relative;
    margin: 0;
    // width: 2000px; // we'll actually calculate the size on load
  }

  img {
    vertical-align: middle;
    margin: 0 3px;
  }

  // Each li is a slide
  li {
    display: block;
    float: left;
    list-style-type: none;
  }

  // Once the strip has been initialized with JS, make it visible
  &.loaded {
    visibility: visible;
  }

  @include breakpoint(medium-up) {
    margin: 0 35px;
  }

  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    margin-left: -$column-gutter/2;
    margin-right: -$column-gutter/2;
  }
}

.thumb-strip-wrapper {
  overflow: hidden;
}

%thumb-strip-button {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  background-color: #ececec;
  z-index: 1;

  i {
    display: block;
    color: $color-middle-gray;
    font-size: 24px;
    line-height: 24px;
    margin: 36px 6px;
  }

  @include breakpoint(medium-up) {
    display: block;
  }
}

.thumb-strip-prev {
  @extend %thumb-strip-button;
  border-right: 10px solid $color-white;
  left: -35px;
}

.thumb-strip-next {
  @extend %thumb-strip-button;
  border-left: 10px solid $color-white;
  right: -35px;
}