// -------------
// Welcome Cards
// 
// -------------

.welcome-card {
  @extend %card;
}

.welcome-card-content {
  @extend %card-content;
  padding-bottom: 39px;

  .editorial-card-slug {
    color: $color-black !important;
    &:hover {
      color: $color-text-gray !important;
    }
  }
}

.welcome-card-headline {
  font-size: $size-text-base;
  text-align: center;
  margin-bottom: $size-space;
  .logo {
    max-width: 60%;
    margin: $size-space 0;
  }
}

.welcome-card-blurb {
  display: none;
  
  @include breakpoint(medium-up) {
    display: block;
  }
}

.welcome-card-illustration {
  @extend %card-photo;
  text-align: center;
  display: none;

  img {
    width: 100%;
  }

  @include breakpoint(large-up) {
    display: block;
  }
}

.welcome-card-banner {
  @extend %card-banner;
  position: absolute;
  width: 100%;
  bottom: 0;

  .social-sharing-icon {
    color: $color-white !important;
  }
}

// Colors 
.welcome-card.teal {
  a {
    color: #2BAFBE;
    &:hover {
      color: darken(#2BAFBE, 10%);
    }
  }
  .welcome-card-banner {
    background-color: #2BAFBE;
  }
}

.welcome-card.orange {
  a {
    color: #dd7537;
    &:hover {
      color: darken(#dd7537, 10%);
    }
  }
  .welcome-card-banner {
    background-color: #dd7537;
  }
}