.breakout-section.black-bg .breakout-section-hero:not(:last-child):after {
  background-image: url(../img/ie/black-gradient-up.png);
  background-repeat: repeat-x;
}

.global-header.dark-bg {
  background-image: url(../img/ie/black-gradient-down.png);
  background-repeat: repeat-x;
  background-size: auto 120px;
}

.global-header.light-bg {
  background-image: url(../img/ie/white-gradient-down.png);
  background-repeat: repeat-x;
  background-size: auto 120px;
}

.slideshow {
  top: -60px;
}

.slideshow-button {
  top: 340px !important;
}

.slide {
  position: relative;
}

.slide-img {
  width: 100%;
  height: auto;
}

.title-slide-content,
.end-slide-content {
  position: absolute;
  width: 90%;
  top: 260px;
  left: 5%;
}

.title-slide .slide-img:after,
.end-slide .slide-img:after {
  background-color: rgba(0, 0, 0, 0.6);
}

.flyway-megamap {
  height: 800px;
  background-size: cover;
  background-position: center center !important;
}

.flyway-path-map .flyway-megamap-point {
  margin-top: 0 !important;
  top: 300px;
}

.bird-guide-country select {
        background: #ffffff;
        padding-right: 10px;
}