# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private

cache/*
.vagrant/*
adminer/*
backup/*
*.sql.gz
*.sql
.idea
.docksal
.tern-port

# Ignore configuration files that may contain sensitive information.
.idea
.vagrant
backup
index.html
docroot/build_reports
docroot/commentinfo.md
