// ----------------
// Top-level Header
// ----------------

.global-header {
  background-color: $color-black;
  font-family: $font-sans;

  position: relative;
  z-index: 2;

  // Variations
  &.transparent {
    @include breakpoint(large-up) {
      background-color: transparent;
      margin-bottom: -100px;
    }
  }
  &.dark-bg {
    @include breakpoint(large-up) {
      background-color: transparent;
      background: linear-gradient(rgba(#000, .75) 0%, rgba(#000, .4) 75%, rgba(#000, 0) 100%);
    }
  }
  &.light-bg {
    @include breakpoint(large-up) {
      background-color: transparent;
      background: linear-gradient(rgba(#fff, .9) 0%, rgba(#fff, .65) 85%, rgba(#fff, 0) 100%);
    }
  }

  // These classes applied in header child modules
  &.light-text {}
  &.dark-text {}

  &.alt {
    @include breakpoint(large-up) {
      min-height: 50px;
    }
  }

  &.microsite {
    .microsite-cta {
      display: none;
      @include breakpoint(large-up) {
        display: inline-block;
        margin-top: 15px;
      }
    }
    @include breakpoint(large-up) {
      min-height: 60px;
    }
  }
  &.transparent + #tabs {
    @include breakpoint(large-up) {
      margin-top: 95px;
    }
  }
}
