// ----------------
// Top-level Header
// ----------------

.global-header {
  background-color: $color-black;
  font-family: $font-sans;

  position: relative;
  z-index: 2;

  // Variations
  &.transparent {
    @include breakpoint(large-up) {
      background-color: transparent;
    }
  }
  &.dark-bg {
    @include breakpoint(large-up) {
      background-color: transparent;
      background: linear-gradient(to top,
        rgba(black, 0) 0%,
        rgba(black, 0.4) 30px,
        rgba(black, 0.75) 100%);
    }
  }
  &.light-bg {
    @include breakpoint(large-up) {
      background-color: transparent;
      background: linear-gradient(to top,
        rgba(white, 0) 0%,
        rgba(white, 0.35) 25px,
        rgba(white, 0.6) 100%);
    }
  }

  // These classes applied in header child modules
  &.light-text {}
  &.dark-text {}

  &.alt {
    @include breakpoint(large-up) {
      min-height: 50px;
    }
  }

  &.microsite {
    .microsite-cta {
      display: none;
      @include breakpoint(large-up) {
        display: inline-block;
        margin-top: 15px;
      }
    }
    @include breakpoint(large-up) {
      min-height: 60px;
    }
  }
  &.transparent + #tabs {
    @include breakpoint(large-up) {
      margin-top: 95px;
    }
  }
}
