// ---------------
// About Landing page
// ---------------

.about-text-section {
  .text-container {
    ul {
      @extend .item-margin;
    }
    .columns {
      @include breakpoint(small-only) {
        margin-bottom: 0;
      }
      @include breakpoint(tiny-only) {
        margin-bottom: 0;
      }
    }
  }
}
