// ------------
// Article Text
// The main column of the article grid.
// ------------

.article-text {
  // Text element margins
  @include text-container(".article-aside") {
    @include breakpoint(large-up) {
      width: (100% / $total-columns) * 9;
    }
  }

  // Children
  figure:not(.article-video-container) {
    img, video, object, embed, iframe {
      width: 100% !important;
    }
    @include breakpoint(max-width, #{upper-bound($small-range)}) {
      margin-bottom: $size-line-base;
      iframe {
        max-height: 300px;
      }
    }
  }

  h2 {
    margin-top: $column-gutter*1.5;
  }

  > hr {
    @include breakpoint(medium-up) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  figcaption {
    @extend .caption;
  }

  // Breakpoints
  @include breakpoint(large-up) {
    padding-left: $column-gutter;
  }
  @include width-range(#{lower-bound($large-range)}, 900px) {
    width: 80%;
    left: 20%;
  }
}

%article-media {
  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    margin-left: -$column-gutter;
    margin-right: -$column-gutter;
    
    figcaption {
      margin: 10px $column-gutter; 
    }
  }
  @include breakpoint(max-width, #{upper-bound($tiny-range)}) {
    margin-left: -$column-gutter/2;
    margin-right: -$column-gutter/2;

    figcaption {
      margin: 10px $column-gutter/2; 
    }
  }
}

.article-image {
  @extend %article-media;
}

.article-video {
  @extend %article-media;

  .article-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: $column-gutter;
    height: 0;
    overflow: hidden;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}