// ------------
// Article Meta
// Author info, publishing date
// ------------

.article-meta {
  margin-top: $size-line-base;
}
.article-author-image {
  float: left;
  border-radius: 100%;
  height: 50px;
  margin-right: $size-space;
}
.article-author-name,
.article-date {
  display: block;
}

.article-author-name {
  font-family: $font-sans;
  font-size: $size-text-base;
  line-height: $size-text-medium;
  margin: 3px 0 0 0;
  a {
    color: $color-text-gray;
  }
}
.article-date {
  color: #888;
  font-size: $size-text-small - 2px;
  font-style: italic;
}