// ---------------
// Article Sidebar
// ---------------

.article-sidebar {
  @extend .sidebar;

  @include breakpoint(large-up) {
    padding-right: 0;
    .columns {
      padding: 0;
    }
  }
  @include width-range(#{lower-bound($large-range)}, 900px) {
    width: 20%;
    right: 80%;
    float: right;
  }
  @include width-range(0px, #{upper-bound($medium-range)}) {
    .tiny-6 {
      &:nth-of-type(odd) {
        padding-left: 0;
      }
      &:nth-of-type(even) {
        padding-right: 0;
      }
    }
  }

  .article-aside {
    padding-left: 0;
    width: 100%;
  }
}

.article-sidebar-section {
  @extend .sidebar-section;

  // Author and article info
  &.article-meta {
    margin-top: 0;
    text-align: center;
  }
  .article-author-image {
    height: 75px;
    float: none;
    margin: 0 0 $size-space 0;
  }
  .article-author-name {
    font-size: 18px;
    line-height: $size-text-small;
    margin: 0 0 5px 0;
  }
  .article-date {
    font-size: $size-text-tiny + 2px;
  }

  .tiny-6 {
    padding-left: 0;
  }

  // If by reflow, a section ends up outisde the sidebar,
  // make sure to pad it
  .global-content > & {
    padding: 0 $column-gutter/2;
    margin-bottom: $column-gutter*2;
    @include breakpoint(small-up) {
      padding: 0 $column-gutter;
    }
  }
}
