// -------
// Banners
// Full-image banners
// -------

/* @todo Add mobile style, javascript for image switching */

.banner {
  position: relative;
  height: 300px;
  margin-bottom: $column-gutter*1.5;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &.donate-banner {
    height: 285px;
  }

  // Variants
  &.dark-bg {
    h2, h3, h4, p, ul, h2 a {
      color: $color-white;
    }
  }
  &.light-bg {
    h2, h3, h4, p, ul, h2 a {
      color: $color-black;
    }
  }
  @include width-range(#{lower-bound($large-range)}, 840px) {
    height: 280px;
  }

  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    height: 400px;
    margin: 0 (-$column-gutter/2) $column-gutter (-$column-gutter/2);
    background-position: center center;
  }
  @include breakpoint(small-only) {
    height: 440px;
    margin: 0 (-$column-gutter) $column-gutter (-$column-gutter);
  }
}

.banner-gradient-overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%; height:100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 40%, rgba(0, 0, 0, 0.2));
  .light-bg & {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.85) 40%, rgba(255, 255, 255, 0.2));
  }
  @include breakpoint(medium-up) {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 40%, rgba(0, 0, 0, 0) 85%);
    .light-bg & {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.85) 40%, rgba(255, 255, 255, 0) 85%);
    }
  }
}

.banner-gradient-overlay-horizontal {
  position: absolute;
  top:0;
  left:0;
  width:100%; height:100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.2));
  .light-bg & {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85) 25%, rgba(255, 255, 255, 0.2));
  }
  @include breakpoint(medium-up) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0) 75%);
    .light-bg & {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.85) 25%, rgba(255, 255, 255, 0) 75%);
    }
  }
}

.banner-text {
  position: absolute;
  margin-right: $column-gutter/2;
  text-shadow: 0 0 9px rgba($color-black, 0.2);

  @include breakpoint(tiny-up) {
    top: $column-gutter/2;
    left: $column-gutter/2;
  }
  @include breakpoint(small-only) {
    left: $column-gutter;
    margin-right: $column-gutter;
  }
  @include breakpoint(medium-up) {
    width: 45%;
    .donate-banner & {
      width: 240px;
    }
  }
  @include breakpoint(large-up) {
    top: $column-gutter/2;
    left: $column-gutter;
  }
  @include width-range(#{lower-bound($large-range)}, 840px) {
    width: 49%;
  }

  &.full-width {
    width: 100%;
    left: 0;
    bottom: 0;
    top: auto;
    padding: $column-gutter;
  }
}

.banner-slug {
  display: block;
  font-family: $font-sans;
  font-size: $size-text-medium;
  
}

.banner-title {
  font-size: $size-text-large;
  margin-bottom: $column-gutter/2;

  @include breakpoint(large-up) {
    font-size: $size-text-engagement;
    font-weight: 300;
    line-height: $size-text-engagement;
    letter-spacing: -1px;
  }
}

.banner-blurb {
  font-style: italic;
  font-size: $size-text-small;
  line-height: $size-line-small;
  margin-bottom: $size-space;

  &.yellow {
    color: #ffcc00 !important;
    margin-bottom: $size-space*3/2;
  }
}

.banner-links {
  font-family: $font-sans;
  font-size: $size-text-small;
  li {
    display: inline-block;
    &:not(:first-child):before {
      content: " | ";
      color: $color-light-gray;
      margin: 0 3px;
    }
  }
}

.banner-set {
  margin-top: $column-gutter;
  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    margin-top: 0;
    margin-bottom: $column-gutter*2;
  }
  @include width-range(#{lower-bound($large-range)}, 840px) {
    padding: 0;
    .columns {
      padding: 0;
    }
  }
}