.bird-guide-search {
  display: none;
  font-family: $font-sans;
  background-color: $color-bone-white;
  padding: $column-gutter 0;

  &.show,
  &.open {
    display: block;
  }

  @include breakpoint(medium-only) {
    padding: $column-gutter/2 0 $column-gutter 0;
  }
  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    padding: $column-gutter/2 0;
  }
}

// The search form proper

.bird-guide-search-form {
  @include breakpoint(large-up) {
    padding-right: $column-gutter;
  }

  select {
    width: 100%;
    margin: $column-gutter/2 0 0 0;
  }
}

.bird-guide-search-input {
  float: left;
  width: 79%;
  margin-right: 4%;

  input {
    height: 45px;
    margin-bottom: 0;
    @include breakpoint(medium-up) {
      font-size: $size-text-medium;
      margin-bottom: $column-gutter/2;
    }
  }
}

.bird-guide-search-submit {
  float: left;
  width: 17%;
  height: 45px;
  font-size: $size-text-large;
  font-weight: 300 !important;

  i {
    vertical-align: middle;
  }
}

// Interactive guide sidebar

.interactive-guide {
  @include breakpoint(large-up) {
    padding-left: $column-gutter;
    border-left: 1px solid $color-light-gray;
    .preamble {
      font-weight: 300;
      .small {
        display: block;
        font-size: $size-text-large;
      }
      .large {
        display: block;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: $size-space*1.5;
      }
    }
  }
  @include breakpoint(medium-only) {
    padding-top: $column-gutter;
    margin-top: $column-gutter;
    border-top: 1px solid $color-light-gray;
    text-align: center;
    .preamble {
      display: inline-block;
    }
  }
  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    padding-top: $column-gutter/2;
    text-align: center;
    .preamble {
      display: inline-block;
    }
  }
}

.interactive-guide-button {
  @include breakpoint(large-up) {
    width: 100%;
  }
  @include breakpoint(max-width, #{upper-bound($medium-range)}) {
    margin-left: $size-space;
  }
}

/* Typeahead */
.tt-separator {
  border-top: 1px solid #eee;
  color: #666;
  margin-top: 10px;
  padding-top:5px;
}
