/// Some help class.
// @todo Move to separate file.
.help-bg-white {
  background: $white;
}

.help-img-full {
  img {
    width: 100%;
    height: auto;
  }
}

$dark-bg-bird: #1c1c1c;
$brownish-grey: #76736c;
$darkish-grey: #404040;
$bg-map-bird: #212121;
$bg-map-bird-new: #222327;
$grey-bg-bird: #f0f0f0;
$grey-menu-bird: #fbfaf6;
$border-bird: #d9d9d9;
$orange-bird: #f15936;
$blue-bird: #0aa8e3;
$padding-item: 25px 17.5px 0;
$gray-lightish: #9b9b9b;

.bird-page.body-item {
  .body-wrap {
    margin-bottom: 50px;
    @include breakpoint(large-up) {
      margin-bottom: 0;
    }
    h3 {
      margin-bottom: 10px;
      @include breakpoint(large-up) {
        margin-bottom: 20px;
        font-size: 33px;
        font-weight: 300;
        line-height: 1.21;
      }
    }
  }
  .video-wrap {
    img {
      width: 100%;
      height: auto;
    }
  }
  .partners-wrap {
    width: 100%;
    overflow: hidden;
  }
  .partner {
    min-height: 120px;
    p {
      font-size: 16px;
      line-height: 22px;
    }
    &__state {
      margin: 0 0 6px;
      span {
        font-size: 14px;
      }
    }
    &__name {
      margin: 0;
      padding: 4px 0;
      font-weight: 600;
    }
    &__chapter {

    }
  }
  .title-wrap {
    &__print {
      margin-top: 25px;
      float: right;
      color: $gray-lightish;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font-sans;
      text-align: right;
      vertical-align: top;
      .img-block {
        width: 20px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
      }
      .download,
      .print {
        display: inline-block;
        vertical-align: top;
      }
      .download {
        background-image: url("../img/bird-page/download.png");
        padding-left: 25px;
        color: $gray-lightish;
        width: auto;
        background-position: left;
        font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        &:after {
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $gray-lightish;
          margin-left: 5px;
          font-size: 12px;
          content: "";
          vertical-align: middle;
        }
      }
      .print {
        background-image: url("../img/bird-page/print.png");
        margin-right: 20px;
        @include breakpoint(xlarge-up) {
          margin-left: 50px;
        }
      }
    }
  }
  //h3 {
  //  font-size: 33px;
  //  line-height: 1.21;
  //}
}

.page-conservation-tracker-scorecard-black-oystercatcher {
  .global-content.with-padding {
    padding-top: 50px;
  }
}

.page-conservation-tracker {
  #cboxClose {
    left: inherit;
    right: -20px;
  }
}

.map-items.bird-page {
  background: $bg-map-bird;
  margin-top: 10px;
  @include breakpoint(large-up) {
    margin-top: 20px;
  }
  &.demo-block {
    .row {
      background: url("../img/bird-page/map.png") no-repeat center center;
    }
  }
}

.map-item {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  @include breakpoint(large-up) {
    float: right;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  &__inner-help {
    padding: 25px 0 0;
    @include breakpoint(large-up) {
      padding: $padding-item;
    }
  }
  .map-title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: $font-sans;
    @include breakpoint(large-up) {
      font-size: 24px;
      line-height: 1.33;
    }
  }
}

.diagram-wrap {
  @include breakpoint(large-up) {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 25px;
  }
  &__title {
    p {
      font-size: 14px;
      color: $brownish-grey;
      font-family: $font-sans;
    }
  }
  .diagram-item {
    overflow: hidden;
    @include breakpoint(large-up) {
      overflow: inherit;
    }
  }
  .ct_linegraph g.ticks text {
    font-size: 14px;
    color: $brownish-grey;
    font-family: $font-sans;
  }
}

.objectives-wrap {
  .map-title {
    margin-bottom: 30px;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &__process {
      width: 20%;
      margin-right: 6%;
      @include breakpoint(large-up) {
        width: 60px;
        margin-right: 20px;
      }
      img {
        max-width: 60px;
      }
    }
    &__info {
      width: 74%;
      font-size: 14px;
      line-height: normal;
      @include breakpoint(large-up) {
        width: calc(100% - 80px);
      }
    }
  }
}

.help-wrap-items-map-items {
  padding-bottom: 20px;
  margin-bottom: 10px;
  z-index: 999;
  position: absolute;
  bottom: 10px;
  width: 100%;
  @include breakpoint(large-up) {
    margin-right: 10px;
    padding-bottom: 0;
    margin-top: 80px;
    margin-bottom: 0;
    position: relative;
    bottom: inherit;
  }
  .map-title {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    .tooltip {
      display: inline-block;
      margin-left: 8px;
      .icon {
        position: relative;
        width: 20px;
        height: 20px;
        display: inline-block;
        cursor: pointer;
        &:after {
          display: block;
          text-align: center;
          width: 20px;
          margin-left: 10px;
          height: 20px;
          border: solid 1px $brownish-grey;
          font-size: 14px;
          color: $brownish-grey;
          border-radius: 50%;
          position: absolute;
          font-weight: bold;
          right: 0;
          top: 0;
          content: '?';
        }
      }
      .text {
        padding: 5px;
        cursor: pointer;
        font-size: 12px;
        line-height: normal;
        color: $dark-bg-bird;
        background: white;
        border: 1px solid #ccc;
        display: inline-block;
        position: absolute;
        width: 200px;
        height: auto;
        left: 0;
        top: 5px;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        transition: all 0.5s;
        box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
        @media screen and (min-width: 768px) {
          width: 300px;
          padding: 10px;
          font-size: 14px;
        }
      }
      &:hover {
        .text {
          top: 20px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .trigger {
    position: static;
    width: 70%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      position: absolute;
      right: 30px;
      top: 30px;
      margin-bottom: 0;
      width: auto;
    }
    h5 {
      font-size: 15px;
      color: $brownish-grey;
      text-transform: uppercase;
      float: left;
      font-family: "Source Sans Pro", Verdana, sans-serif;
      letter-spacing: normal;
    }
    .switch {
      float: right;
      position: relative;
      width: 60px;
      height: 30px;
      top: -3px;
      .form-switch {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
      .form-switch + label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px solid #e8e8e8;
        border-radius: 50px;
        margin-right: 1em;
        background-color: #e8e8e8;
      }
      .form-switch + label::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        left: 2px;
        top: 2px;
        border: 1px solid #adaca9;
        height: 22px;
        width: 22px;
        background: #adaca9;
        transition: all 0.2s ease;
      }
      .form-switch:checked + label::after {
        background: #1fad2e;
        left: 97%;
        transform: translateX(-100%);
      }
    }
  }
}

.progress-wrap {
  background: $grey-bg-bird;
  margin-bottom: 10px;
  position: relative;
  clear: both;
  .progress-item {
    padding-top: 10px;
  }
  progress[value] {
    appearance: none;
    border: none;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    box-shadow: none;
    color: royalblue;
    position: relative;
    margin: 0 0 1.5em;
  }
  progress {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 10px;
    width: 100%;
  }
  progress::-webkit-progress-bar {
    border-radius: 20px;
    background: #e0e0e0;
  }
  progress::-webkit-progress-value {
    background: $orange-bird;
    border-radius: 20px;
  }
  p[data-value] {
    position: relative;
  }

  p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute;
    right: 0;
    top: -35px;
    font-family: $font-sans;
    color: $orange-bird;
  }
}

.rating-wrap {
  position: relative;
  padding-bottom: 10px;
  background: $white;
  text-align: center;
  @include breakpoint(large-up) {
    text-align: left;
    padding-bottom: 20px;
  }
  .map-title {
    margin-bottom: 10px;
    font-size: 24px;
    @include breakpoint(large-up) {
      width: calc(100% - 150px);
    }
  }
  #rating-ajax-wrapper {
    p {
      font-size: 15px;
      line-height: 22px;
      @include breakpoint(large-up) {
        width: calc(100% - 150px);
        margin-bottom: 20px;
      }
    }
  }
  .form-radios {
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #f2f2f2;
    overflow: hidden;
    @include breakpoint(large-up) {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 120px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .form-item {
      width: 50%;
      float: left;
    }
    input[type="radio"] {
      position: absolute;
      left: -999em;
      margin: 0;
      padding: 0;
    }
    label {
      position: relative;
      width: 100%;
      height: 60px;
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 60px;
      &:before {
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    input[type="radio"]:checked + label {
      background: $color-tomato;
    }
    .form-item:first-child label:before {
      background: url("../img/bird-page/happy.png") no-repeat center;
    }
    .form-item:first-child input[type="radio"]:checked + label:before {
      background: url("../img/bird-page/happy-active.png") no-repeat center;
    }
    .form-item:last-child label:before {
      background: url("../img/bird-page/sad.png") no-repeat center;
    }
    .form-item:last-child input[type="radio"]:checked + label:before {
      background: url("../img/bird-page/sad-active.png") no-repeat center;
    }
  }
  textarea {
    background: #f2f2f2;
    border: 1px solid #dfdfdf;
  }
  .button {
    display: block;
    width: 150px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    text-align: center;
  }
}

.ct-item-nav-conservation {
  background: $grey-menu-bird;
  padding: 10px 0;
  @include breakpoint(large-up) {
    padding: 30px 0;
    overflow: hidden;
  }
  .menu-wrap {
    position: relative;
    background: $grey-menu-bird;
    text-align: center;
    @include breakpoint(large-up) {
      text-align: left;
      padding-right: 50px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding-bottom: 10px;
      position: absolute;
      display: none;
      background: $grey-menu-bird;
      width: 100%;
      @include breakpoint(large-up) {
        display: block;
        position: relative;
        padding-bottom: 0;
        @include content-between();
      }
      &.open {
        display: block;
        left: 0;
        z-index: 2;
        @include breakpoint(large-up) {
          @include content-between();
          z-index: 0;
        }
        > .true {
          background: $white;
          @include breakpoint(large-up) {
            background: transparent;
          }
        }
      }
    }
    li a,
    .mobile-active {
      cursor: pointer;
      background-size: auto 38px;
      height: 40px;
      background-position: 10px center;
      background-repeat: no-repeat;
      padding-left: 60px;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 40px;
      font-size: 16px;
      text-transform: capitalize;
      font-family: $lato-font;
      color: #222222;
      display: inline-block;
      @include breakpoint(large-up) {
        width: 60px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 65px 0 0;
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        opacity: .2;
        background-position: center;
        background-size: contain;
        &:hover {
          opacity: 1;
        }
      }
      &.true {
        background-color: $white;
        @include breakpoint(large-up) {
          font-weight: 400;
          opacity: 1;
          background-color: transparent;
        }
      }
    }
    .mobile-active {
      display: inline-block;
      padding-right: 0;
      @include breakpoint(large-up) {
        display: none;
      }
    }
    .threats {
      background-image: url("../img/bird-page/first-item.png");
    }
    .actions {
      background-image: url("../img/bird-page/second-item.png");
    }
    .response {
      position: static;
      width: auto;
      background-image: url("../img/bird-page/third-item.png");
      @include breakpoint(large-up) {
        width: 60px;
      }
    }
    .partners {
      background-image: url("../img/bird-page/fourth-item.png");
    }
  }
  .text-wrap {
    padding-left: 50px;
    border-left: 1px solid $border-bird;
    &__content {
      > div {
        display: none;
        &.active {
          display: block;
        }
      }
    }
    h4 {
      @include breakpoint(large-up) {
        font-size: 33px;
        font-weight: 300;
        line-height: 1.21;
        margin: 0;
        color: $black;
      }
    }
    p {
      @include breakpoint(large-up) {
        font-size: 14px;
        line-height: normal;
        color: $brownish-grey;
      }
    }
  }
}

// Style for slider.
.slider-element.bird-page {
  padding: 30px 0;
  width: 62.66666666666667%;
  margin: 0 auto;
  @include breakpoint(large-up) {
    padding: 60px 0;
    width: 100%;
  }
}

.slider-element {
  &__title-wrap {
    text-align: center;
    @include breakpoint(large-up) {
      margin-bottom: 40px;
    }
    h4 {
      margin: 0;
      font-size: 28px;
      line-height: 1.11;
      color: $black;
    }
  }
  .items-wrap {
    @include breakpoint(large-up) {
      margin-bottom: 30px;
    }
  }
  .item {
    text-align: center;
    @include breakpoint(large-up) {
      text-align: left;
    }
    &__pre-title {
      color: $blue-bird;
      margin-bottom: 10px;
      font-size: 15px;
      line-height: 1.33;
      @include breakpoint(large-up) {
        margin-bottom: 5px;
      }
    }
    &__title {
      font-size: 23px;
      line-height: 1.22;
      color: $black;
    }
  }
  .owl-controls {
    margin-top: 10px;
    text-align: center;
    @include breakpoint(large-up) {
      margin-top: 20px;
    }
    .owl-page {
      display: inline-block;
      zoom: 1;
      span {
        display: block;
        width: 8px;
        height: 8px;
        margin: 0 6px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #ccc;
      }
      &.active {
        span {
          background: #7f7f7f;
        }
      }
    }
  }
}

.tabs-ng-content {
  .bird-page {
    display: none;
    &.active {
      display: block;
    }
  }
  .row {
    position: relative;
    min-height: 400px;
  }
  .js-preloader {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: $white;
    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 30%;
      left: 30%;
      width: 150px;
      height: 150px;
      transform: translate(-50%, -50%);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
      @include breakpoint(large-up) {
        left: 50%;
      }
    }
  }
  @include breakpoint(large-up) {
    padding-bottom: 60px;
  }
}

.ct-scorecard-tabs {
  background: $dark-bg-bird;
  color: $white;
  position: relative;
  min-height: 50px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 2;
    opacity: 0.8;
    display: block;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
    @include breakpoint(large-up) {
      background: transparent;
      width: 0;
      height: 0;
    }
  }
  &__help {
    width: 130%;
    position: absolute;
    left: -30%;
    @include breakpoint(large-up) {
      width: 100%;
      position: relative;
      left: 0;
    }
  }
  .custom-dropdown {
    display: none;
    position: absolute;
    left: 0;
    width: 120%;
    top: 100%;
    margin: 0;
    list-style: none;
    z-index: 2;
    background: white;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.41);
    .active-trail {
      display: none;
    }
    a {
      color: $dark-bg-bird;
      display: block;
      &:hover {
        background: #ccc;
      }
    }
  }

  a {
    font-size: 14px;
    text-align: left;
    padding: 15px 10px;
    color: $white;
    font-family: $font-sans;
    display: inline-block;
    @include breakpoint(large-up) {
      padding: 15px;
      font-size: 17px;
    }
    &.active-trail {
      position: relative;
      padding-right: 25px;
      &.hover,
      &:hover {
        background: white;
        color: $dark-bg-bird;
      }
      &:after {
        content: '';
        position: absolute;
        right: 8px;
        top: 53%;
        transform: translateY(-50%);
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #8a8a8a transparent transparent transparent;
      }
    }
  }

  .link-wrapper {
    position: relative;
    display: inline-block;
    font-family: "Source Sans Pro", Verdana, sans-serif;
    &:after {
      content: '';
      border: solid $white;
      border-width: 0 2px 2px 0;
      opacity: .2;
      display: inline-block;
      padding: 4px;
      border-radius: 0;
      margin: 0 7px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    &:last-child {
      margin-left: 15px;
      &:after {
        @include breakpoint(large-up) {
          position: absolute;
          left: 50%;
          bottom: -17px;
          transform: rotate(0deg);
          margin-left: -5px;
          opacity: 1;
          width: 0;
          height: 0;
          padding: 0;
          border-style: solid;
          border-width: 0 7.5px 10px 7.5px;
          border-color: transparent transparent #ffffff transparent;
          display: block;
          content: "";
        }
      }
    }
  }
  .menu-has-children {
    display: inline-block;
  }
  &.nas-ct-menu {
    li {
      padding: 0;
      a {
        padding: 15px 5px;
        @include breakpoint(large-up) {
          padding: 15px;
        }
        &:hover {
          background: transparent;
          color: $white;
        }
      }
    }
    .first.last {
      > a {
        &:after {
          content: '';
          position: relative;
          right: inherit;
          border: solid $white;
          border-width: 0 2px 2px 0;
          opacity: .2;
          display: inline-block;
          padding: 4px;
          border-radius: 0;
          margin: 0 7px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
    }
    .menu {
      margin-left: 0;
      ul {
        display: inline-block;
        a {
          color: #919191;
          &.active {
            position: relative;
            padding: 15px 5px;
            color: $white;
            @include breakpoint(large-up) {
              padding: 15px;
            }
            &:after {
              content: '';
              display: block;
              position: absolute;
              top: inherit;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 0;
              margin-left: -5px;
              padding: 0;
              transform: rotate(0deg);
              border-width: 0 7.5px 10px;
              border-style: solid;
              border-color: transparent transparent #fff;
              opacity: 1;
            }
          }
        }
      }
    }
    li {
      display: inline-block;
      position: relative;
      margin: 0;
    }
  }
}

.ct-scorecard-main {
  .row {
    position: relative;
    @include breakpoint(large-up) {
      min-height: 800px;
    }
  }
  .leaflet-container {
    position: absolute;
    top: 0;
    width: 100%;
    .leaflet-bottom.leaflet-right {
      .leaflet-control-attribution.leaflet-control {
        display: none;
      }
    }
    .leaflet-bottom.leaflet-left {
      top: 140px;
      bottom: inherit;
      @include breakpoint(large-up) {
        top: inherit;
        bottom: 0;
      }
    }
  }

  #nas-conservation-tracker-map-form {
    position: absolute;
    right: 15px;
    top: 33px;
    z-index: 999;
    @include breakpoint(large-up) {
      left: 70px;
      right: inherit;
    }
    .form-item-map-type.form-type-radios {
      font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
      > label {
        display: block;
        width: 165px;
        padding: 8px 0 7px 15px;
        // @todo make colors as variables.
        background-color: #303030;
        font-size: 14px;
        color: $white;
        letter-spacing: 0.5px;
        &:after {
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid $white;
          margin-left: 5px;
          font-size: 12px;
          content: "";
        }
      }
      #edit-map-type {
        width: 165px;
        padding: 8px 10px 7px 15px;
        background-color: #303030;
        margin-top: 2px;
        font-size: 13px;
        display: none;
        overflow: hidden;
        label {
          color: $white;
          font-size: 16px;
        }
      }
    }
  }
  .controls-link {
    display: block;
    position: absolute;
    left: 237px;
    top: 33px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: #303030;
    border: solid 2px #303030;
    text-align: center;
    .border {
      display: block;
      width: 14px;
      height: 14px;
      border: dashed 2px $white;
      margin-top: 11px;
      margin-left: 11px;
    }
  }

  .leaflet-control-layers {
    display: none;
  }
}

.help-wrap-items-map-items {
  @include breakpoint(large-up) {
    position: relative;
    z-index: 9999;
    max-width: 572px;
    width: 62.66666666666667%;
    margin-bottom: 40px;
    float: right;
    clear: both;
  }
  @media only screen and (min-width: 1025px) {
    margin-right: 15.27777777777778%;
  }
}

.wrap-map-diagram {
  position: relative;
  background: $bg-map-bird-new;
  overflow: hidden;
  min-height: 1300px;
  @include breakpoint(large-up) {
    min-height: 900px;
  }
}

.leaflet-container,
.ct-scorecard-main {
  background: $bg-map-bird;
}

.ct-scorecard-main {
  position: relative;
}

.node-type-ct-scorecard {
  .hero-header {
    padding-right: 0;
    p, .hero-blurb,
    .hero-title {
      text-shadow: none;
    }
    .hero-title {
      font-family: $font-sans;
      font-size: 25px;
      text-align: left;
      color: $white;
      margin-bottom: 15px;
      line-height: 0.72;
      @include breakpoint(large-up) {
        font-size: 64px;
        line-height: 1.25;
        margin-bottom: 0;
      }
      @include breakpoint(medium-up) {
        font-size: 37px;
        line-height: 0.92;
        margin-bottom: 30px;
      }

    }
    p, .hero-blurb {
      font-size: 20px;
      color: $white;
      margin: 0;
      font-style: normal;
    }
    .hero-blurb {
      @include breakpoint(large-up) {
        margin-bottom: 20px;
        font-size: 18px;
        opacity: .8;
      }
    }
    p {
      font-size: 14px;
      @include breakpoint(medium-up) {
        font-size: 16px;
      }
      @include breakpoint(large-up) {
        font-size: 24px;
      }
    }
  }
  .mailing-list {
    // @todo update when other blocks will be ready.
    margin-top: 40px;
  }
  @include breakpoint(large-up) {
    .menu-wrapper {
      position: absolute;
      top: 37px;
      left: 0;
      width: 100%;
    }
  }
}

.no-data-overlay {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  z-index: 1000;
  position: absolute;
  opacity: 0.7;
  font-size: 70px;
  padding-top: 10%;
  padding-left: 10%;
  text-transform: uppercase;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  color: #666;
}

.legend {
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #f5f5f5;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);

  .legend-color {
    .legend-max {
      height: 75px;
      padding-top: 10px;
    }

    .legend-min {
      width: 40px;
      height: 75px;
      padding-bottom: 10px;
      display: table-cell;
      vertical-align: bottom;
      text-align: center;
      font-weight: 600;
    }
  }

}

.partners-wrap {
  &.columns {
    width: calc(100% - 20px);
    margin: 20px auto;
    position: relative;
    background: white;
    padding: 30px 15px;
    float: none;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      position: relative;
      top: 0;
      width: 90%;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      margin: 80px auto 40px;
    }
    @media screen and (min-width: 1000px) {
      width: 29%;
      margin-left: 14%;
      float: left;
    }
    @media screen and (min-width: 1500px) {
      width: 30%;
      margin-left: 18%;
    }
    .partners-wrap__partner {
      display: block;
      width: 100%;
      margin: 5px 0 5px 0;
      vertical-align: top;
      position: relative;
      padding-left: 10px;
      @media screen and (min-width: 768px) {
        .partner__name {
          font-size: 9px;
          line-height: 1.3;
        }
      }
      @media screen and (min-width: 1020px) {
        .partner__name {
          font-size: 13px;
        }
      }
      @media screen and (min-width: 1400px) {
        .partner__name {
          font-size: 15px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 11px;
        width: 5px;
        height: 5px;
        border-radius: 10px;
        background: #ccc;
        display: inline-block;
        @media screen and (min-width: 768px) {
          top: 4px;
        }
        @media screen and (min-width: 1020px) {
          top: 7px;
        }
      }
      .partner__state {
        display: none;
      }
    }
  }
}

.partners-wrap.columns ~ .help-wrap-items-map-items {
  position: relative;
  clear: inherit;
  @media screen and (min-width: 1000px) {
    width: 50%;
  }
  @media only screen and (min-width: 1025px) {
    margin-right: 5%;
  }
  @media screen and (min-width: 1500px) {
    width: 62.66666666666667%;
    margin-right: 15.27777777777778%;
  }
}

.bird-page {
  ul li {
    padding-bottom: 10px;
  }
}

.ct-scorecard-main {
  .controls-link {
    display: none
  }
}

#nas-conservation-tracker-map-form {
  .form-item-map-type {
    float: left;
  }
  .form-reset {
    background-color: #303030;
    color: white;
    border: none;
    outline: none;
    font-family: "Source Sans Pro", Verdana, sans-serif;
    min-height: 40px;
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 14px;
  }
}

.leaflet-top .leaflet-control {
  margin-top: 23px;
}

.leaflet-bar {
  a {
    &.leaflet-control-zoom-out,
    &.leaflet-control-zoom-in {
      width: 40px;
      height: 40px;
      background-color: #303030;
      color: white;
      line-height: 38px;
      &:hover {
        background-color: #707070;
      }
    }
  }

}

.link-textfield {
  display: none;
}

#cboxTitle {
  background: none;
}

.page-content.nas-cta-tabs-angular-processed,
.page-content.nas-cta-tabs-angular-processed {
  margin-bottom: 0;
  > * {
    margin-bottom: 0;
  }
}

.ct-scorecard-header {
  .curtain-content {
    .row {
      padding-bottom: 30px;
      @media screen and (min-width: 768px) {
        padding-bottom: 25px;
      }
    }
  }
  .hero-image {
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &.clone-header {
    position: static;
    .hero-image {
      display: none;
    }
  }
  .curtain-arrow {
    display: none;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

.global-header.clone-header {
  background: transparent;
  .dont-miss {
    display: none;
  }
}

.show-hide-text {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  .banner-text {
    top: inherit;
    transition: bottom .3s;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3) 80%, rgba(0, 0, 0, 0) 100%);
    @media screen and (max-width: 767px) {
      bottom: 0 !important;
    }
  }
  .banner-gradient-overlay-horizontal {
    background: transparent;
  }
  .banner {
    margin-bottom: 0;
  }
}

.conservation-tracker-in {
  margin-bottom: 20px;
}

.conservation-tracker-custom-pane {
  padding-bottom: 40px;
  h3 {
    margin-bottom: 15px;
    font-size: 33px;
    font-weight: 300;
    line-height: 1.15;
    @include breakpoint(large-up) {
      margin-bottom: 20px;
      letter-spacing: .5px;
    }
  }
  b {
    font-weight: 400;
    color: #262626;
  }
}

.ct-scorecard-header,
.conservation-tracker-pages {
  .curtain-card h1,
  .hero-title {
    margin: 0;
    padding: 0;
    color: $white;
    font-family: $font-sans;
    font-size: 37px;
    letter-spacing: normal;
    line-height: .92;
    font-weight: 400;
    text-align: left;
    text-shadow: none;
    @include breakpoint(large-up) {
      font-size: 64px;
    }
  }
  .hero.light-text .hero-blurb,
  .hero-blurb {
    color: $white;
    font-family: $font-sans;
    font-size: 20px;
    font-style: normal;
    @include breakpoint(large-up) {
      font-size: 24px;
    }
  }
}

// Style for pages /conservation-tracker and /conservation-tracker/*
.conservation-tracker-pages {
  .column,
  .row.space-bottom {
    position: static;
  }
  .hero-attribution {
    position: absolute;
    right: 0;
  }
  .homepage-first-row {
    display: none;
  }
  &.landscapes-page {
    .ct-scorecard-tabs.nas-ct-menu .menu ul a.active:after {
      border-color: transparent;
    }
    .leaflet-control-layers-toggle {
      display: none;
    }
    padding-bottom: 60px;
    @include breakpoint(large-up) {
      padding-bottom: 0;
    }
  }
  .mailing-list {
    position: relative;
    z-index: 999;
  }
}

.nas-ct-refine-listing {
  a {
    display: block;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #303030;
    color: $white;
    font-family: $font-sans;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
  }
}

#nas-conservation-tracker-map-form {
  .form-item.form-type-radio {
    @include style-input();
    input {
      margin: 0;
    }
  }
}

.help-wrap-footnotes {
  padding: 25px 0;
  background: $color-bone-white;
  font-size: 15px;
}
