/// Some help class.
// @todo Move to separate file.
.help-bg-white {
  background: $white;
}

.help-img-full {
  img {
    width: 100%;
    height: auto;
  }
}

$dark-bg-bird: #1c1c1c;
$brownish-grey: #76736c;
$darkish-grey: #404040;
$bg-map-bird: #212121;
$grey-bg-bird: #F0F0F0;
$grey-menu-bird: #fbfaf6;
$border-bird: #d9d9d9;
$orange-bird: #F15936;
$blue-bird: #0aa8e3;
$padding-item: 25px 17.5px 0;
$gray-lightish: #9b9b9b;

.bird-page.body-item {
  .body-wrap {
    margin-bottom: 175px;
    @include breakpoint(large-up) {
      margin-bottom: 0;
    }
    h3 {
      margin-bottom: 10px;
      @include breakpoint(large-up) {
        margin-bottom: 20px;
        font-size: 33px;
        font-weight: 300;
        line-height: 1.21;
      }
    }
  }
  .video-wrap {
    img {
      width: 100%;
      height: auto;
    }
  }
  .partners-wrap {
    width: 100%;
    overflow: hidden;
  }
  .title-wrap {
    &__print {
      color: $gray-lightish;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font-sans;
      .img-block {
        width: 20px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
      }
      .download {
        background-image: url("../img/bird-page/download.png");
        padding-left: 25px;
        color: $gray-lightish;
        width: auto;
        background-position: left;
        float: left;
        font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        &:after {
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $gray-lightish;
          margin-left: 5px;
          font-size: 12px;
          content: "";
          vertical-align: middle;
        }
      }
      .print {
        background-image: url("../img/bird-page/print.png");
        margin-right: 20px;
        display: block;
        float: left;
        margin-left: 50px;
      }
    }
  }
  h3 {
    font-size: 33px;
    line-height: 1.21;
  }
}

.page-conservation-tracker-scorecard-black-oystercatcher {
  .global-content.with-padding {
    padding-top: 50px;
  }
}

.map-items.bird-page {
  background: $bg-map-bird;
  margin-top: 10px;
  padding-top: 10px;
  &.demo-block {
    .row {
      background: url("../img/bird-page/map.png") no-repeat center center;
    }
  }
}

.map-item {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  @include breakpoint(large-up) {
    float: right;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  &__inner-help {
    padding: $padding-item;
  }
  .map-title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: $font-sans;
    @include breakpoint(large-up) {
      font-size: 24px;
      line-height: 1.33;
    }
  }
}

.diagram-wrap {
  // @todo Update after add 3d.
  padding-bottom: 20px;
  margin-top: 200px;
  margin-bottom: 10px;
  @include breakpoint(large-up) {
    margin-bottom: 10px;
    margin-top: 0;
  }
  &__title {
    p {
      font-size: 14px;
      color: $brownish-grey;
      font-family: $font-sans;
    }
  }
  .diagram-item {
    overflow: hidden;
    @include breakpoint(large-up) {
      overflow: inherit;
    }
  }
  .ct_linegraph g.ticks text {
    font-size: 14px;
    color: $brownish-grey;
    font-family: $font-sans;
  }
}

.objectives-wrap {
  .map-title {
    margin-bottom: 30px;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &__process {
      width: 20%;
      margin-right: 6%;
      @include breakpoint(large-up) {
        width: 60px;
        margin-right: 20px;
      }
      img {
        max-width: 60px;
      }
    }
    &__info {
      width: 74%;
      p {
        font-size: 14px;
        line-height: normal;
      }
      @include breakpoint(large-up) {
        width: calc(100% - 80px);
      }
    }
  }
}

.help-wrap-items-map-items {
  .map-title {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    &:after {
      display: block;
      text-align: center;
      width: 20px;
      height: 20px;
      border: solid 1px $brownish-grey;
      font-size: 14px;
      color: $brownish-grey;
      border-radius: 50%;
      position: absolute;
      font-weight: bold;
      right: -27px;
      top: 6px;
      content: '?';
    }
  }
  .trigger {
    position: absolute;
    right: 30px;
    top: 30px;
    h5 {
      font-size: 15px;
      color: $brownish-grey;
      text-transform: uppercase;
      float: left;
      font-family: "Source Sans Pro", Verdana, sans-serif;
      letter-spacing: normal;
    }
    .switch {
      float: right;
      position: relative;
      width: 60px;
      height: 30px;
      top: -3px;
      .form-switch {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
      .form-switch + label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px solid #e8e8e8;
        border-radius: 50px;
        margin-right: 1em;
        background-color: #e8e8e8;
      }
      .form-switch + label::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        left: 2px;
        top: 2px;
        border: 1px solid #ADACA9;
        height: 22px;
        width: 22px;
        background: #ADACA9;
        transition: all 0.2s ease;
      }
      .form-switch:checked + label::after {
        background: #ADACA9;
        left: 97%;
        transform: translateX(-100%);
      }
    }
  }
}

.progress-wrap {
  background: $grey-bg-bird;
  margin-bottom: 10px;
  position: relative;
  clear: both;
  .progress-item {
    padding-top: 10px;
  }
  progress[value] {
    appearance: none;
    border: none;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    box-shadow: none;
    color: royalblue;
    position: relative;
    margin: 0 0 1.5em;
  }
  progress {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 10px;
    width: 100%;
  }
  progress::-webkit-progress-bar {
    border-radius: 20px;
    background: #E0E0E0;
  }
  progress::-webkit-progress-value {
    background: $orange-bird;
    border-radius: 20px;
  }
  p[data-value] {
    position: relative;
  }

  p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute;
    right: 0;
    top: -35px;
    font-family: $font-sans;
    color: $orange-bird;
  }
}

.ct-item-nav-conservation {
  background: $grey-menu-bird;
  overflow: hidden;
  padding: 10px 0;
  @include breakpoint(large-up) {
    padding: 30px 0;
  }
  .menu-wrap {
    padding-right: 50px;
    ul {
      list-style: none;
      margin: 0;
      @extend %content-between;
    }
    li {
      cursor: pointer;
      background-size: auto 38px;
      height: 40px;
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 50px;
      line-height: 40px;
      font-size: 16px;
      text-transform: capitalize;
      font-family: $lato-font;
      @include breakpoint(large-up) {
        width: 60px;
        height: 60px;
        font-size: 0;
        opacity: .2;
        background-position: center;
        background-size: contain;
        padding: 0;
        &:hover {
          opacity: 1;
        }
      }
      &.true {
        @include breakpoint(large-up) {
          font-weight: bold;
          opacity: 1;
        }
      }
    }
    .threats {
      background-image: url("../img/bird-page/first-item.png");
    }
    .actions {
      background-image: url("../img/bird-page/second-item.png");
    }
    .responses {
      background-image: url("../img/bird-page/third-item.png");
    }
    .partners {
      background-image: url("../img/bird-page/fourth-item.png");
    }
  }
  .text-wrap {
    padding-left: 50px;
    border-left: 1px solid $border-bird;
    &__content {
      > div {
        display: none;
        &.active {
          display: block;
        }
      }
    }
    h4 {
      @include breakpoint(large-up) {
        font-size: 33px;
        font-weight: 300;
        line-height: 1.21;
        margin: 0;
        color: $black;
      }
    }
    p {
      @include breakpoint(large-up) {
        font-size: 14px;
        line-height: 15px;
        color: $brownish-grey;
      }
    }
  }
}

// Style for slider.
.slider-element.bird-page {
  padding: 30px 0;
  width: 62.66666666666667%;
  margin: 0 auto;
  @include breakpoint(large-up) {
    padding: 60px 0;
    width: 100%;
  }
}

.slider-element {
  &__title-wrap {
    text-align: center;
    @include breakpoint(large-up) {
      margin-bottom: 40px;
    }
    h4 {
      margin: 0;
      font-size: 28px;
      line-height: 1.11;
      color: $black;
    }
  }
  .items-wrap {
    @include breakpoint(large-up) {
      margin-bottom: 30px;
    }
  }
  .item {
    text-align: center;
    @include breakpoint(large-up) {
      text-align: left;
    }
    &__pre-title {
      color: $blue-bird;
      margin-bottom: 10px;
      font-size: 15px;
      line-height: 1.33;
      @include breakpoint(large-up) {
        margin-bottom: 5px;
      }
    }
    &__title {
      font-size: 23px;
      line-height: 1.22;
      color: $black;
    }
  }
  .owl-controls {
    margin-top: 10px;
    text-align: center;
    @include breakpoint(large-up) {
      margin-top: 20px;
    }
    .owl-page {
      display: inline-block;
      zoom: 1;
      span {
        display: block;
        width: 8px;
        height: 8px;
        margin: 0 6px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #CCCCCC;
      }
      &.active {
        span {
          background: #7F7F7F;
        }
      }
    }
  }
}

.tabs-ng-content {
  .bird-page {
    display: none;
    &.active {
      display: block;
    }
  }
  @include breakpoint(large-up) {
    padding-bottom: 60px;
  }
}

.ct-scorecard-tabs {
  background: $dark-bg-bird;
  padding: 15px 0;
  color: $white;
  a {
    font-size: 17px;
    text-align: left;
    color: $white;
    font-family: $font-sans;
    margin-right: 15px;
    &:after {
      content: '';
      border: solid $white;
      border-width: 0 2px 2px 0;
      opacity: .2;
      display: inline-block;
      padding: 4px;
      border-radius: 0;
      margin-left: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    &:hover {
      color: $darkish-grey;
    }
  }
  span:last-child {
    position: relative;
    &:after {
      position: absolute;
      left: 50%;
      bottom: -17px;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fbfaf6;
      display: block;
      content: "";
    }
  }
}

.ct-scorecard-main {
  .row {
    position: relative;
    @include breakpoint(large-up) {
      min-height: 800px;
    }
  }
  .leaflet-container {
    width: 100%;
    @include breakpoint(large-up) {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  #nas-conservation-tracker-map-form {
    position: absolute;
    left: 70px;
    top: 33px;
    z-index: 999;
    .form-item-map-type.form-type-radios {
      font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
      > label {
        display: block;
        width: 165px;
        padding: 8px 0 7px 15px;
        // @todo make colors as variables.
        background-color: #303030;
        font-size: 14px;
        color: $white;
        letter-spacing: 0.5px;
        &:after {
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid $white;
          margin-left: 5px;
          font-size: 12px;
          content: "";
        }
      }
      #edit-map-type {
        width: 165px;
        padding: 8px 10px 7px 15px;
        background-color: #303030;
        margin-top: 2px;
        font-size: 13px;
        display: none;
        label {
          color: $white;
          font-size: 16px;
        }
      }
    }
  }
  .controls-link {
    display: block;
    position: absolute;
    left: 237px;
    top: 33px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: #303030;
    border: solid 2px #303030;
    text-align: center;
    .border {
      display: block;
      width: 14px;
      height: 14px;
      border: dashed 2px $white;
      margin-top: 11px;
      margin-left: 11px;
    }
  }

  .leaflet-control-layers {
    display: none;
  }
}

.help-wrap-items-map-items {
  @include breakpoint(large-up) {
    position: relative;
    z-index: 9999;
    max-width: 572px;
    width: 62.66666666666667%;
    margin-bottom: 40px;
    float: right;
    clear: both;
  }
  @media only screen and (min-width: 1000px) {
    margin-right: 15.27777777777778%;
  }
}

.wrap-map-diagram {
  position: relative;
  @include breakpoint(large-up) {
    min-height: 800px;
    background: $bg-map-bird;
    overflow: hidden;
  }
}

.leaflet-container,
.ct-scorecard-main {
  background: $bg-map-bird;
}

.ct-scorecard-main {
  position: relative;
}

.node-type-ct-scorecard {
  .hero-header {
    padding-right: 0;
    p, .hero-blurb,
    .hero-title {
      text-shadow: none;
    }
    .hero-title {
      font-family: $font-sans;
      font-size: 25px;
      text-align: left;
      color: $white;
      margin-bottom: 15px;
      line-height: 0.72;
      @include breakpoint(large-up) {
        font-size: 64px;
        line-height: 1.25;
        margin-bottom: 0;
      }
      @include breakpoint(medium-up) {
        font-size: 37px;
        line-height: 0.92;
        margin-bottom: 30px;
      }

    }
    p, .hero-blurb {
      font-size: 20px;
      color: $white;
      margin: 0;
      font-style: normal;
    }
    .hero-blurb {
      @include breakpoint(large-up) {
        margin-bottom: 20px;
        font-size: 18px;
        opacity: .8;
      }
    }
    p {
      font-size: 14px;
      @include breakpoint(medium-up) {
        font-size: 16px;
      }
      @include breakpoint(large-up) {
        font-size: 24px;
      }
    }
  }
  .mailing-list {
    // @todo update when other blocks will be ready.
    margin-top: 40px;
  }
  @include breakpoint(large-up) {
    .menu-wrapper {
      position: absolute;
      top: 37px;
      left: 0;
      width: 100%;
    }
  }
}

.no-data-overlay {
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  z-index: 1000;
  position: absolute;
  opacity: 0.7;
  font-size: 70px;
  padding-top: 10%;
  padding-left: 10%;
  text-transform: uppercase;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  color: #666666;
}

.legend {
  line-height: 18px;
  color: #555;
  padding: 6px 8px;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
