/// Some help class.
// @todo Move to separate file.
.help-bg-white {
  background: $white;
}

.help-img-full {
  img {
    width: 100%;
    height: auto;
  }
}

$brownish-grey: #76736c;
$grey-bg-bird: #F0F0F0;
$grey-menu-bird: #fbfaf6;
$border-bird: #d9d9d9;
$orange-bird: #F15936;
$blue-bird: #0aa8e3;
$padding-item: 25px 17.5px 0;

.bird-page.body-item {
  .body-wrap {
    margin-bottom: 175px;
    @include breakpoint(large-up) {
      margin-bottom: 0;
    }
    h3 {
      margin-bottom: 10px;
      @include breakpoint(large-up) {
        margin-bottom: 20px;
        font-size: 33px;
        font-weight: 300;
        line-height: 1.21;
      }
    }
  }
  .video-wrap {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.map-items.bird-page {
  background: #1c1c1c;
  margin-top: 10px;
  padding-top: 10px;
  .row {
    background: url("../img/bird-page/map.png") no-repeat top center;
  }
}

.map-item {
  @include breakpoint(large-up) {
    float: right;
  }
  &__inner-help {
    padding: $padding-item;
  }
  .map-title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: $font-sans;
    @include breakpoint(large-up) {
      font-size: 24px;
      line-height: 1.33;
    }
  }
}

.diagram-wrap {
  // @todo Update after add 3d.
  margin-top: 200px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  @include breakpoint(large-up) {
    margin-top: 0;
  }
  &__title {
    p {
      font-size: 14px;
      color: $brownish-grey;
      font-family: $font-sans;
    }
  }
}

.objectives-wrap {
  .map-title {
    margin-bottom: 30px;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &__process {
      width: 20%;
      margin-right: 6%;
      @include breakpoint(large-up) {
        width: 60px;
        margin-right: 20px;
      }
      img {
        max-width: 60px;
      }
    }
    &__info {
      width: 74%;
      p {
        font-size: 14px;
        line-height: normal;
      }
      @include breakpoint(large-up) {
        width: calc(100% - 80px);
      }
    }
  }
}

.progress-wrap {
  background: $grey-bg-bird;
  margin-bottom: 10px;
  position: relative;
  clear: both;
  .progress-item {
    padding-top: 10px;
  }
  progress[value] {
    appearance: none;
    border: none;
    width: 100%;
    height: 20px;
    border-radius: 3px;
    box-shadow: none;
    color: royalblue;
    position: relative;
    margin: 0 0 1.5em;
  }
  progress {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 10px;
    width: 100%;
  }
  progress::-webkit-progress-bar {
    border-radius: 20px;
    background: #E0E0E0;
  }
  progress::-webkit-progress-value {
    background: $orange-bird;
    border-radius: 20px;
  }
  p[data-value] {
    position: relative;
  }

  p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute;
    right: 0;
    top: -35px;
    font-family: $font-sans;
    color: $orange-bird;
  }
}

.ct-item-nav-conservation {
  background: $grey-menu-bird;
  overflow: hidden;
  padding: 10px 0;
  @include breakpoint(large-up) {
    padding: 30px 0;
  }
  .menu-wrap {
    ul {
      list-style: none;
      margin: 0;
      @extend %content-between;
    }
    li {
      cursor: pointer;
      background-size: auto 38px;
      height: 40px;
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 50px;
      line-height: 40px;
      font-size: 16px;
      text-transform: capitalize;
      font-family: $lato-font;
      @include breakpoint(large-up) {
        width: 60px;
        height: 60px;
        font-size: 0;
        opacity: .2;
        background-position: center;
        &:hover {
          opacity: 1;
        }
      }
      &.true {
        @include breakpoint(large-up) {
          font-weight: bold;
          opacity: 1;
        }
      }
    }
    .threats {
        background-image: url("../img/bird-page/first-item.png");
    }
    .actions {
      background-image: url("../img/bird-page/second-item.png");
    }
    .responses {
      background-image: url("../img/bird-page/third-item.png");
    }
  }
  .text-wrap {
    padding-right: 50px;
    border-left: 1px solid $border-bird;
    h4 {
      @include breakpoint(large-up) {
        font-size: 33px;
        font-weight: 300;
        line-height: 1.21;
        margin: 0;
      }
    }
    p {
      @include breakpoint(large-up) {
        font-size: 14px;
        color: $brownish-grey;
      }
    }
  }
}

// Style for slider.
.slider-element.bird-page {
  padding: 30px 0;
  width: 62.66666666666667%;
  margin: 0 auto;
  @include breakpoint(large-up) {
    padding: 60px 0;
    width: 100%;
  }
}

.slider-element {
  &__title-wrap {
    text-align: center;
    @include breakpoint(large-up) {
      margin-bottom: 40px;
    }
    h4 {
      margin: 0;
      font-size: 28px;
      line-height: 1.11;
      color: $black;
    }
  }
  .items-wrap {
    @include breakpoint(large-up) {
      margin-bottom: 30px;
    }
  }
  .item {
    text-align: center;
    @include breakpoint(large-up) {
      text-align: left;
    }
    &__pre-title {
      color: $blue-bird;
      margin-bottom: 10px;
      font-size: 15px;
      line-height: 1.33;
      @include breakpoint(large-up) {
        margin-bottom: 5px;
      }
    }
    &__title {
      font-size: 23px;
      line-height: 1.22;
      color: $black;
    }
  }
}

.tabs-ng-content {
  .bird-page {
    display: none;
    &.active {
      display: block;
    }
  }
}