.breakout-section {
  color: $color-white;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @include breakpoint(max-width, #{upper-bound($medium-range)}) {
    &.no-hero:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color-black, 0.5);
      z-index: 0;
    }
    .columns + .columns {
      margin-top: $column-gutter/2;
    }
  }

  &.black-bg {
    background-color: $color-black;
  }

  &.fixed-height {
    @include breakpoint(max-width, #{upper-bound($medium-range)}) {
      padding-bottom: 560px;
    }

    @include breakpoint(large-up) {
      height: 800px;
    }
  }
}

.breakout-section-side {
  @include breakpoint(large-up) {
    position: absolute;
    bottom: $column-gutter*2;
    z-index: 1;
  }
}

.breakout-section-box {
  color: $color-text-gray;
  text-shadow: none;
  font-family: $font-sans;
  color: $color-white;
  background-color: rgba($color-black, 0.6);
  padding: $column-gutter/2;
  position: relative;
  z-index: 2;

  h1, h2, h3, h4, h5 {
    color: $color-white;
    margin-bottom: $size-space;
    a {
      color: $color-white;
    }
  }
  ul, ol {
    margin-left: 23px;
  }

  @include breakpoint(min-width, 900px) {
    padding: $size-space*2;
    max-width: $row-width/2;
  }

  @include breakpoint(max-width, #{upper-bound($medium-range)}) {
    &.collapse-minimal {
      color: $color-text-gray;
      background-color: transparent;
      padding: 0;
      h1, h2, h3, h4, h5 {
        color: $color-text-gray;
      }
    }
  }
}

.breakout-section-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 300px;
  position: relative;

  .column {
    width: auto;
    position: absolute;
    bottom: -50px;

    @include breakpoint(medium-up) {
      bottom: 0;
    }
  }

  @include breakpoint(large-up) {
    height: 500px;
  }

  &.tall {
    height: 250px;

    @include breakpoint(small-up) {
      height: 350px;
    }
    @include breakpoint(medium-up) {
      height: 500px;
    }
    @include breakpoint(large-up) {
      height: 800px;
    }
  }

  .black-bg &:not(:last-child) {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 100px;
      width: 100%;
      background: linear-gradient(rgba(#000, 0), rgba(#000, 1));
    }
  }
}

.breakout-section-headline {
  color: $color-white;
  text-shadow: 0 1px 4px $color-black;
  max-width: $row-width;
  position: relative;
  z-index: 2;
}

.breakout-section-content {
  position: relative;
  z-index: 1;

  &.light-text {
    color: $color-white;
    text-shadow: 0 1px 2px rgba($color-black, 0.5);

    h1, h2, h3, h4, h5 {
      color: $color-white;
      a:hover {
        color: darken($color-white, 20%);
      }
    }
  }

  &.dark-text {
    color: $color-text-gray;
  }

  .breakout-section-hero + & {
    padding-top: 150px;
    margin-top: -100px;
    background: linear-gradient(rgba($color-black, 0), rgba($color-black, 1));
    background-repeat: no-repeat;
    background-size: 100% 100px;
    background-position: center top;
    position: relative;

    @include breakpoint(medium-up) {
      padding-top: 100px;
    }
  }
}
