.conservation-strategy-projects-block {
  .editorial-card {
    margin-bottom: $size-space*2;
  }
  .projects-list {
    .columns {
      &:nth-of-type(3n+1) {
        clear: both;
      }
      @include breakpoint(medium-only) {
        .editorial-card {
          min-height: inherit !important;
        }
      }
      @include breakpoint(small-only) {
        .editorial-card {
          min-height: inherit !important;
        }
      }
      @include breakpoint(tiny-only) {
        .editorial-card {
          min-height: inherit !important;
        }
      }
    }
  }
}

.conservation-strategy-content {
  padding-left: 12.5px;
  padding-right: 12.5px;
  blockquote {
    @extend .pull-quote;
  }
}
