// -----------------------
// Conservation news block.
// -----------------------

.editorial-card-2x-conservation-news-block {

  .conservation-news-column {

    h4 {
      margin-bottom: 12.5px;
    }

    .editorial-card {
      border: none;
      box-shadow: none;
    }

    .view-conservation-news {
      font-family: $font-sans;

      .views-row {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        line-height: 20px;
      }
    }
  }
}

.view-conservation-news-filter {
  font-family: $font-sans;

  .filter-label {
    float: left;
    color: $color-warm-gray;
  }

  .filter-items {
    margin: 0;

    li {
      display: inline;
      border-right: 1px solid $color-text-gray;
      padding: 0 5px;
      cursor: pointer;
      color: $color-bright-blue;
      transition: color 0.15s;

      &:last-child {
        border-right: none;
      }

      &:hover {
        color: #07729a;
      }
    }
  }
}

.view-conservation-news {

  .date-display-single:after {
    content: ":";
  }

  .views-field-field-conservation-news-date {
    font-weight: 600;
  }

  .views-field-field-conservation-news-link,
  .views-field-field-conservation-news-date,
  .views-field-body {
    display: inline;

    .field-content {
      display: inherit;

      p {
        margin-bottom: 0;
        display: inherit;
      }
    }
  }

  .pager {
    font-family: $font-sans;
    height: 50px;
    list-style: none;
    margin-left: 0;
    position: relative;

    li {
      position: absolute;
      bottom: 5px;
      font-size: 15px;
    }

    .pager-previous {
      left: 0;
    }

    .pager-next {
      right: 0;
    }
  }

  .pager-current {
    display: none;
  }
}

.editorial-card-2x-conservation-news-block {

  .view-conservation-news-views-list {
    position: relative;

    .view {
      display: none;

      .view-content {
        font-size: 16px;
      }
    }
  }

  &.editorial-card-2x-conservation-news-block-processed {

    .view {
      display: block;

      &.hidden {
        display: none;
      }
    }
  }
}

.conservation-menu-jump-menu {
  margin-bottom: 37.5px;
  font: 20px $font-sans;
  line-height: 27px;

  .jump-to {
    float: left;
    line-height: inherit;
    padding-right: 0.2em;
  }

  .jump-to-menu {
    margin: 0;
  }

  .jump-to-item {
    display: inline-block;
    padding-right: 0.2em;

    &:after {
      content: " | ";
      color: $color-text-gray;
    }

    &:last-child {
      border-right: none;

      &:after {
        content: "";
      }
    }
  }
}

.conservation-news-block {

  .conservation-news-title {
    line-height: 1.3;
  }

  .conservation-news-image {
    float: left;
    margin-right: 15px;
    width: 40px;
  }

  .conservation-news-icon {
    margin: auto;
    display: block;
    height: auto;
  }

  .conservation-news-heading + div {
    font: italic 22px $font-sans;
  }

  .view-conservation-news {

    .views-row {
      margin-bottom: 2em;
    }

    .pager {
      height: 25px;

      li {
        font-size: 16px;
      }
    }
  }
}

.conservation_news_heading + div{
  @extend .deck;
}