.curtain {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100.2%;
  z-index: 5;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.5);

  @include transition-property(transform, -webkit-transform, -moz-transform);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in-out);

  // Modifiers
  &.focus-left { background-position: center left; }
  &.focus-right { background-position: center right; }
  &.align-top { background-position: center top; }
  &.off { @include transform(translateY(-110%)); }

  // Only tablet and up get this fanciness
  @include breakpoint(large-up) {
    display: block;
  }
}

.curtain-content {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: $column-gutter 0;
  width: 100%;
  background: linear-gradient(rgba($color-black, 0), rgba($color-black, 0.5));
  background-repeat: no-repeat;
  background-size: 100% 100px;
  background-position: center bottom;

  &.light-text {
    color: $color-white;
    h1, h2, h3, h4, h5 {
      a {
        color: $color-white;
      }
    }
  }
  &.dark-text { color: $color-text-gray; }

  .hero-header {
    position: static;
  }
}

.curtain-attribution {
  line-height: $size-line-small;

  .title {
    font-family: $font-sans;
    font-size: $size-text-small;
  }
  .credit {
    font-family: $font-serif;
    font-size: $size-text-tiny;
    font-style: italic;
  }
}

.curtain-card {
  background-color: rgba($color-black, 0.6);
  color: $color-white;
  padding: $column-gutter;

  h1, h2, h3, h4, h5 {
    a {
      color: $color-white;
      &:hover {
        color: darken($color-white, 20%);
      }
    }
  }
}
.curtain-card-slug {
  font-family: $font-sans;
  font-size: $size-text-medium;
}
.curtain-card-headline {
  color: $color-white;
  font-size: $size-text-engagement;
  font-weight: 300;
  margin-bottom: $size-space;
}
.curtain-card-blurb {
  font-size: $size-text-small;
  font-style: italic;
  line-height: $size-line-small;
}

.curtain-video {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  video {
    position: absolute;
  }

  &.cover {
    video {
      min-height: 100%;
      min-width: 100%;
      max-width: none;
    }
  }

  &.cover, &.center {
    video {
      left: 50%;
      top: 50%;
    }
  }

  &.top-left {
    video {
      top: 0;
      left: 0;
    }
  }

  &.top-right {
    video {
      top: 0;
      right: 0;
    }
  }

  &.bottom-left {
    video {
      bottom: 0;
      left: 0;
    }
  }

  &.bottom-right {
    video {
      bottom: 0;
      right: 0;
    }
  }

  .curtain-video-play-button {
    background-image: url(../img/play-icon.png);
    position: absolute;
    height: 77px;
    left: 50%;
    top: 50%;
    width: 77px;
    margin-top: -38px;
    margin-left: -38px;
    cursor: pointer;
  }
}

.curtain-arrow {
  position: absolute;
  z-index: 1;
  bottom: $size-space;
  left: 50%;
  width: 100px;
  height: 50px;
  margin-left: -50px;
  display: block;
  background-image: url(../img/descend.png);
  background-size: 45px 27px;
  background-repeat: no-repeat;
  background-position: center center;
}

.curtain-wrapper {
  position: relative;
  z-index: 0;

  @include breakpoint(min-width, 768px) {
    &.on {
      position: fixed;
      left: 0;
      width: 100%;
    }
  }
}

.curtain-package {
  background: linear-gradient(rgba($color-white, 0), rgba($color-white, 0.75));
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 300px;

  h4 {
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }

  .hero-header {
    .button {
      padding: 5px 25px;
    }
  }

  .hero-paragraph {
    margin: 20px 0;
    width: auto;
    font-family: "Source Sans Pro", Verdana, sans-serif;
    font-style: normal;
  }

  .editorial-card-list-item {
    border-left: 1px solid rgba($color-white, 0.5);
    padding: 15px 20px;
  }

  &.dark-bottom-bg {
    background: linear-gradient(rgba($color-black, 0), rgba($color-black, 1));
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 300px;

    h4 a {
      color: $color-white;
    }
  }

  &.dark-text {
    .hero-paragraph {
      color: $color-text-gray;
    }
  }

  &.light-text {
    .hero-title, .hero-slug, .hero-paragraph {
      color: $color-white !important;
      text-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);
    }
    .hero-slug {
      font-weight: 600;
    }
    .hero-title {
      font-weight: 400;
    }


  }
}

.curtain-summary {
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-style: normal;
}
