/* @todo Add a markup example */

// ---------------
// Editorial Cards
// ---------------

// Basic components

.editorial-card {
  @extend %card;
}

.editorial-card-photo {
  @extend %card-photo;
}

.editorial-card-banner {
  @extend %card-banner;

  &.fixed {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &.blue      { background-color: $color-bright-blue; }
  &.green     { background-color: $color-pea-green; }
  &.gray      { background-color: $color-text-gray; }
}

.editorial-card-content {
  @extend %card-content;

  min-height: 180px;
  @include breakpoint(large-up) {
    min-height: 200px;
    &.short {
      min-height: 170px;
    }
  }
  @include breakpoint(min-width, 960px) {
    min-height: 170px;
    &.short {
      min-height: 140px;
    }
  }

  &.has-fixed-banner {
    padding-bottom: 50px;
  }
}

// Content elements

.editorial-card-slug {
  display: block;
  font-family: $font-sans;
  font-size: $size-text-small;
  .editorial-card-info &{
    display: inline-block;
  }
}

.editorial-card-title {
  display: block;
  font-family: $font-sans;
  margin-bottom: $size-space;

  a:last-child &,
  &.no-margin {
    margin-bottom: 0;
  }
  &.blue a {
    color: $color-bright-blue;
    &:hover {
      color: darken($color-bright-blue, 15%);
    }
  }

  @include width-range(768px, 900px) {
    .editorial-card-list-item & {
      font-size: $size-text-base;
      line-height: $size-line-base;
    }
  }
}

.editorial-card-no-image {
  @include breakpoint(large-up) {
    .editorial-card-title {
      font-size: 38px;
      line-height: 41px;
    }

    .editorial-card-subtitle {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.editorial-card-list-item {
  display: block;
  padding-bottom: $size-space;

  @include breakpoint(min-width, 900px) {
    padding-bottom: $size-space*1.5;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &.small {
    font-size: $size-text-small;
    line-height: $size-line-small;
  }

  br {
    display: block;
    height: 10px;
  }
}

.editorial-card-by-line {
  color: #202020;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-size: 11pt;
  padding-bottom: 8px;
  line-height: 13pt;
}

.editorial-card-dateline {
  color: #888;
  .editorial-card-info &{
    color: $color-text-gray;
    font-family: $font-sans;
    font-size: $size-text-small;
    &:before{
      content: '|';
      margin-right: 3px;
    }
  }
  &.editorial-card-dateline-without-separator {
    &:before{
      content: none;
    }
  }
}

.editorial-card-link {
  font-size: $size-text-small - 1;
  position: relative;
  padding-right: 10px;
  color: #0aa8e3;
  display: table;
  &:after {
    content: "\00bb";
    display: inline-block;
    margin-top: -1px;
    position: absolute;
    height: 7px;
    font-size: 16px;
    width: 10px;
    text-align: right;
    vertical-align: middle;
  }
  &.sans {
    font-family: $font-sans;
    font-size: $size-text-small;
  }
}

// -------------
// Card variants
// -------------

// Full-width
.editorial-card.full-width {
  @include breakpoint(large-up) {
    margin-bottom: $column-gutter*2;
    .editorial-card-content {
      padding: $column-gutter $column-gutter $column-gutter 0;
    }
    .editorial-card-title {
      font-size: $size-text-large;
      line-height: $size-text-large + 5px;
      margin-bottom: $column-gutter/2;
    }
  }
  @include breakpoint(min-width, 900px) {
    .editorial-card-slug {
      font-size: $size-text-medium;
      margin-bottom: $size-space/2;
      &.small {
        font-size: $size-text-small;
        margin-bottom: 0;
      }
    }
    .editorial-card-title {
      font-size: $size-text-h3;
      line-height: $size-text-h3 + 5px;
      margin-bottom: $column-gutter;
    }
  }
}

// Small, four to a row
.editorial-card.small {
  @include breakpoint(large-up) {
    .editorial-card-content {
      padding: $size-space $size-space $size-space*2 $size-space;
    }
  }
}

// Index listing
.editorial-card.index {
  border: 0;
  box-shadow: none;
  margin-bottom: $column-gutter;

  .editorial-card-content {
    padding: 0;
    min-height: 0 !important;
  }

  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    .editorial-card-photo {
      position: relative;
      top: 3px;
      margin-right: -$column-gutter/2;
    }
  }
}

// Borderless
.editorial-card.no-border {
  border: 0;
  box-shadow: none;
  .editorial-card-content {
    padding: $size-space 0 0 0;
  }
}

// Feature
.editorial-card.feature {
  @extend .editorial-card.no-border;  

  .editorial-card-content {
    min-height: 0 !important;
  }
  .editorial-card-slug {
    font-size: $size-text-base;
  }
  .editorial-card-title {
    min-height: ($size-text-h3 + 3px) * 2; // assume two lines
  }
}

// Dark bg card
.editorial-card.dark {
  background-color: transparent;
  color: $color-white;
  .editorial-card-title {
    color: $color-white;
  }
}

// Collapses to minimal display on mobile
.editorial-card.collapse-minimal {
  @include breakpoint(max-width, #{upper-bound($medium-range)}) {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: $column-gutter;

    .editorial-card-content {
      min-height: 0;
      padding: 0;
    }
    .editorial-card-photo {
      display: none;
    }
  }
}

.editorial-card-cta {
  text-align: center;
  padding-top: $column-gutter/2;
  left: 0;
  width: 100%;

  .button {
    font-size: $size-text-base;
  }
}

.editorial-card-3x {
  &.space-top {
    padding-top: $column-gutter;
    &.double {
      padding-top: $column-gutter*2;
    }
  }
  &.space-bottom {
    padding-bottom: $column-gutter;
    &.double {
      padding-bottom: $column-gutter*2;
    }
  }

  .card-set.space-bottom {
    @include breakpoint(tiny-only) {
      padding-bottom: 0;
    }
    @include breakpoint(small-only) {
      padding-bottom: 0;
    }
    @include breakpoint(medium-only) {
      padding-bottom: 0;
    }
  }
}