.focal-bird-venn {
  padding: $size-space $size-space 0 $size-space;
  margin-top: 0 !important;
  text-align: center;

  font-family: $font-sans;
  font-size: $size-text-small - 2px;
  line-height: $size-line-small - 2px;

  svg {
    width: 200px;
    height: 60px;

    border: 1px solid #ddd;
    margin-bottom: $size-space;

    @include breakpoint(min-width, 900px) {
      @include transform(scale(1.25));
    }
  }

  .venn {
    stroke-width: 1; 
    stroke-opacity: 1;
    fill-opacity: 0.3;
  }

  .vennfuture {
    fill-opacity: 0.15;
  }

  .vennsummer {
    fill: #F4ED0B;
    stroke: #F4ED0B;
  }

  .vennwinter {
    fill: #0AA8E3;
    stroke: #0AA8E3;
  }
}