.focal-bird-engagement {
  background-color: #DF5900;
  background-color:$color-tomato;
  margin: 0 (-$column-gutter/2) $column-gutter (-$column-gutter/2);

  .body {
    color: rgba($color-black, 0.6);
    padding: $column-gutter/2 $size-space $column-gutter $size-space;
  }

  h1, h2, h3, h4 {
    color: $color-white;
  }

  @include breakpoint(medium-only) {
    margin: 0 -25px 25px -12.5px;
    img {
      width: 100%;
    }
  }

  @include breakpoint(large-up) {
    margin: 0 -25px 0px 0;


    .body {
      padding: $column-gutter;
    }

  }

  &.strip {
    margin:0;
    padding:15px 0 0;
    position:relative;
    z-index:102;

    body.touch & {
      position: relative !important;
      top: 0px !important;
    }

    h2,
    div.thin{ 
      color:#fff;
      font-size:42px;
      line-height:1; 
      margin-bottom:10px;
      text-align:center;
      position:static;
      letter-spacing: -1.5px;
      font-family: "Source Sans Pro";
    //  font-family:Arial;
      font-weight:300;
    }
    p,
    div.graph{ 
      font-size:15px;
      letter-spacing: -.5px;
      line-height:1.4;
    }
    .body{
      padding:0;
    }
    .pledge-form{
      padding-top:5px;
    }
    @include breakpoint(large-up) {
      height:80px;
      width:100%;
      h2,
      div.thin{
        float:left;
        text-align: left;
        width:40%;
        font-size: 40px;
        position: relative;
        top: 5px;
      }
      p,
      div.graph{
        font-size: $size-text-small - 1px;
        position: relative;
        top: -4px;
        float:left;
        width:60%;
        padding-bottom:10px;

        @include breakpoint(min-width, 1020px) {
          top: 4px;
        }
      }
    }
    .strip-response{
      &.off{
        display:none;
      }
    }
    .strip-call{
      &.off{
        display:none;
      }
    }
  }

  .pledge-form {
    max-width: 100%;
    overflow: hidden;
    margin: 0 !important;
    position:relative;
    z-index:200;

    .columns {
      padding: 0;
    }

    input[type="text"] {
      font-size: $size-text-small - 1px;
      border-radius: 3px 0 0 3px;

      @include breakpoint(min-width, 900px) {
        font-size: $size-text-small + 1px;
      }
    }
    input[type="submit"] {
      border-radius: 0 3px 3px 0;

      &:hover {
        background-color: lighten($color-orange, 5%);
      }
    }
  }
}

body.touch .sticky-wrapper {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0px !important;
  z-index: 102 !important;
}

#sticky-strip,
.sticky-wrapper {
  display: none;
}
@include breakpoint(large-up) {
  #sticky-strip,
  .sticky-wrapper {
    display: block;
  }
}