.focal-bird-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: $column-gutter;
  height: 0;
  overflow: hidden;
}

.focal-bird-video {
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}