.node-type-iba {
  h1 {
    margin: 0 0 5px 0;
  }

  .deck {
    font-style: normal;
    font-family: "Source Sans Pro", Verdana, sans-serif;
  }

  .text-container {
    h4 {
      font-size: 22px;
      font-weight: bold;
    }
  }
  .iba-photo-gallery {
    h4 {
      font-size: 23px;
      font-weight: normal;
      margin-bottom: 10px;

      .icon-camera:before {
        vertical-align: sub;
      }
    }

    .thumb-strip {
      .thumb-strip-prev, .thumb-strip-next {
        cursor: pointer;
      }
      .icon-chevron-left:before {
        margin-left: -3px;
      }
      .icon-chevron-right:before {
        margin-left: -2px;
      }
      ul {
        margin-left: 0;
      }
    }
  }
  .sidebar {

    .social-sharing {
      margin-bottom: 16px;

      @include breakpoint(large-up) {
        margin-top: -49px;
      }
    }

    .sidebar-section {
      margin-bottom: 16px;
    }
  }
}

.svg-throbber {
  background-image: url(../img/throbber.svg);
  background-size: contain;
  position: absolute;
}

.iba-state-contacts {
  padding-bottom: 15px;

  h4 {
    margin-bottom: 0;
  }

  a {
    display: block;
    font-family: $font-sans;
    margin-bottom: 14px;
  }
}

.iba-site-report-link-pane {

  a {
    font-family: $font-sans;
    font-size: 18px;
  }

  .sidebar-section + & {
    margin-top: -7px;
  }
}
