.map-profile {
  @extend %card;
  margin: $column-gutter 0;

  &.invisible {
    display: none;
  }
  
  @include breakpoint(medium-up) {
    box-shadow: 0 0 10px rgba($color-black, 0.3);
  }
}

.map-profile-photo {
  @extend %card-photo;
  @include user-select(off);
}

.map-profile-content {
  @extend %card-content;
  padding-bottom: $size-space;
}

.map-profile-headline {
  margin-bottom: $size-space;
}

.map-profile-close {
  float: right;
  a {
    color: $color-middle-gray;
    &:hover {
      color: darken($color-middle-gray, 20%);
    }
  }
}