.microsite-bird-search,
.twitter-typeahead {
  width: 100%;
  z-index: 101;
}
.tt-dropdown-menu {
  color: $color-bright-blue;
  font-family: $font-sans;
  font-size: $size-text-base;
  line-height: $size-line-base;
  text-align: left;
  background-color: $color-white;
  padding: 15px;
  top: 37px !important;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border: 1px solid #D4D4D4;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  .tt-suggestion {
    cursor: pointer;
  }

  strong {
    font-weight: 700;
  }
}

.microsite-bird-search-lower {
  background-color: #e9e9e9;

  @include breakpoint(medium-only) {
    padding: 0 120px;
  }
}

.microsite-bird-search-inline {
  display: none !important;

  &.show {
    display: inline-block !important;
  }

  &, input, .microsite-bird-search {
    margin-bottom: 0;
  }
}

.microsite-banner {
  .microsite-bird-search,
  .tt-dropdown-menu {
    z-index: 103 !important; 
  }
}

.focal-bird-dropdown .microsite-bird-search-inline {
  position: relative;
  top: -3px;

  &, input, .microsite-bird-search {
    height: 30px;
    margin-bottom: -10px;
  }

  .tt-dropdown-menu {
    top: 27px !important;
    max-height: 120px;
  }
}

.tt-cursor {
  font-weight: bold;
  color: darken($color-bright-blue, 10%) !important;
}