.national-strip {
  background-color: $color-dark-gray;
  color: $color-white;
  font-family: $font-sans;
  padding-top: 5px;
}

.national-strip-breadcrumbs {
  font-size: 14px;
  line-height: 20px;
  margin-left: 0;

  a {
    color: $color-white;
    &:hover {
      color: darken($color-white, 20%);
    }
  }

  @include breakpoint(min-width, 900px) {
    font-size: $size-text-base;
  }
}

.national-strip-crumb {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;

  &:not(:first-child) {
    margin-left: 6px;
    &:before {
      content: "»";
      color: $color-light-gray;
      margin-right: 6px;
    }
  }
  &.top {
    img {
      height: 20px;
      width: 94px;
    }
  }
}

.national-strip-alert {
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0;

  @include breakpoint(max-width, #{upper-bound($small-range)}) {
    display: none;
  }
  @include breakpoint(large-up) {
    text-align: right;
  }
  @include breakpoint(min-width, 900px) {
    font-size: $size-text-small;
  }

  span,
  a {
    display: inline-block;
    vertical-align: middle;
  }

  .header {
    color: $color-tomato;
    &:after {
      content: "|";
      color: $color-middle-gray;
      margin-right: 6px;
      padding-left: 6px;
    }
  }

  .link {
    color: $color-white;
    &:hover {
      color: darken($color-white, 20%);
    }
    &:after {
      content: "»";
      padding-left: 5px;
    }
  }
}