.page-summary {
  padding: $size-space;
  background-color: $color-bone-white;
  border: 1px solid darken($color-bone-white, 5%);

  @include breakpoint(medium-up) {
    padding: $size-space*2;
  }
}

.page-summary-title {
  color: $color-tomato;
  margin-bottom: $size-space;
}

.page-summary-body {
  font-style: italic;
}