$base-margin: 20px;
$tab-height: 35px;
$tab-border-radius: 35px;
$grey-park: #d8d8d8;
$grey-active-park: #969696;
$red-park: #d0021b;
$green-park: #417505;

.switch-wrap {
  position: relative;
  margin-top: 30px;
  z-index: 0;
  font-family: $font-sans;
}

.tab-slider--nav {
  width: 100%;
  text-align: center;
  .slide {
    float: none;
  }
}

.tab-slider {
  &--tabs {
    display: inline-block;
    position: relative;
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
    border-radius: $tab-border-radius;
    overflow: hidden;
    background: $grey-park;
    user-select: none;
    &:after {
      content: "";
      width: 50%;
      background: $grey-active-park;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 250ms ease-in-out;
      border-radius: $tab-border-radius;
    }
    &.slide:after {
      left: 50%;
    }
  }
  &--trigger {
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    color: $white;
    text-align: center;
    padding: 11px $base-margin;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    user-select: none;
    &.active {
      color: $white;
    }
  }
  &--body {
    display: none;
    margin-bottom: $base-margin;
    &:first-child {
      display: block;
    }
  }
}

.winter-tab {

}

ul.tabs-content {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  .red,
  .extirpations {
    color: $red-park;
  }
  .green,
  .colonizations {
    color: $green-park;
  }
  .link {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid $grey-landing;
    &__title {
      color: $color-text-gray;
      font-size: 20px;
      font-weight: 400;
    }
    &__number {
      font-size: 72px;
      font-weight: 600;
      line-height: 1;
    }
    &__text {
      color: $pumpkin;
      font-size: 36px;
      font-weight: 600;
      line-height: 1;
    }
    &.current {
      &:after {
        content: '';
        position: absolute;
        bottom: -8px;
        width: 14px;
        height: 14px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        border-top: 1px solid $grey-landing;
        border-left: 1px solid $grey-landing;
        background: $white;
      }
    }
    &.extirpations,
    &.colonizations {
      .link__number {
        &:before {
          content: '';
          display: inline-block;
          width: 30px;
          height: 36px;
          margin-right: 5px;
        }
      }
    }
    &.extirpations {
      .link__number {
        &:before {
          background: url("../img/park-page/down-red.png") no-repeat center;
        }
      }
    }
    &.colonizations {
      .link__number {
        &:before {
          background: url("../img/park-page/up-green.png") no-repeat center;
        }
      }
    }
  }
}

.tab-content {
  display: none;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  &.current {
    display: inherit;
  }
  .tab-bird-container {
    margin-top: 20px;
  }
}

.park-body {
  margin-bottom: 50px;
  padding: 0 15px;
  @include breakpoint(large-up) {
    padding: 0;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 1.15;
  }
  &__body-text {
    font-size: 16px;
  }
}

// Style for content park page.
.node-type-park {
  font-family: $font-sans;
  .hero-image {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 110px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
    }

  }
  .park_top {
    margin-bottom: 25px;
  }
  .list-of-park {
    position: absolute;
    bottom: 15px;
    &__current-page {
      position: relative;
      z-index: 1;
      a {
        color: $white;
        font-size: 48px;
        letter-spacing: .4px;
      }
    }
    // Todo update style for drop down list pg items.
    &__others-page {
      display: none;
    }
  }
  .park_info {
    padding: 0 15px;
    font-size: 16px;
    @include breakpoint(large-up) {
      padding: 0;
    }
    > .field {
      display: inline-block;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    .field-label {
      font-weight: normal;
    }
    .field-name-field-park-map-image,
    .field-name-field-park-description {
      float: left;
    }
    .field-name-field-park-map-image {
      max-width: 135px;
      img {
        width: 100%;
      }
    }
    .field-name-field-park-description {
      @include breakpoint(large-up) {
        width: calc(100% - 165px);
      }
      p {
        line-height: 1.38;
      }
    }
  }
  .hero {
    overflow: inherit;
  }
  .hero-header {
    padding-bottom: 0;
    h1 {
      position: relative;
      margin: 0;
      padding-bottom: 15px;
      cursor: pointer;
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 20px;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: $white transparent transparent transparent;
        vertical-align: middle;
      }
    }
  }
  .drop-down-items {
    position: relative;
    z-index: 9;
  }
  .drop-down-list {
    display: none;
    position: absolute;
    padding: 20px;
    background: $white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    a {
      display: block;
      margin-bottom: 5px;
      color: $color-text-gray;
      font-size: 38px;
      line-height: 1.2;
    }
  }
  .engagement-hero {
    margin-top: 0;
  }
}

.form-container {
  &.green {
    background: $green-landing;
    padding: 15px 0;
  }
  .inner {
    @include breakpoint(large-up) {
      float: left;
      width: 50%;
    }
  }
  label, select {
    margin-bottom: 0;
  }
  &__text {
    label {
      margin-bottom: 20px;
      color: $white;
      font-family: $font-sans;
      font-size: 33px;
      line-height: 1.15;
      @include breakpoint(large-up) {
        margin-bottom: 0;
      }
    }
  }
  select {
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    border: solid 1px #d4d4d4;
    border-radius: 8px;
    background-color: $white;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }
  &__form {
    > div:first-child {
      margin-bottom: 20px;
      @include breakpoint(large-up) {
        margin-bottom: 0;
      }
    }
  }
}

.view-park-bird-trends.view-id-park_bird_trends.view-display-id-default {
  .view-filters {
    display: none;
  }
  .view-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 15px;
    @include breakpoint(large-up) {
      padding: 0;
    }
  }
  .views-row {
    display: block;
    color: $color-text-gray;
    text-align: center;
    float: left;
    margin-bottom: $column-gutter;
    .views-field-field-hero-image,
    .views-field-title {
      margin: 0 10px;
      @include breakpoint(large-up) {
        margin: 0 $column-gutter/2;
      }
    }
    width: 33.333%;
    @include breakpoint(medium-only) {
      width: 25%;
    }
    @include breakpoint(large-only) {
      width: 20%;
    }
    @include breakpoint(min-width, 840px) {
      width: 16.66666%;
    }
    @include breakpoint(min-width, 1000px) {
      width: 14.285%;
    }

    &:hover {
      color: $color-bright-blue;
    }

    .views-field-field-hero-image {
      @include breakpoint(large-up) {
        width: 118px;
      }
      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    .views-field-title {
      background-color: $color-white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      height: 50px;
      padding: 0 5px;
      font-family: $font-sans;
      font-size: 13px;
      line-height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        a {
          display: inline-block;
          vertical-align: middle;
          font-size: 13px;
          line-height: 15px;
          color: $color-text-gray;
        }
      }
    }
  }
}



.messages.warning {
  display: none;
}
