$base-margin: 20px;
$tab-height: 35px;
$tab-border-radius: 35px;
$grey-park: #d8d8d8;
$grey-active-park: #969696;
$red-park: #d0021b;
$green-park: #417505;

.switch-wrap {
  font-family: $font-sans;
}

.tab-slider--nav {
  width: 100%;
  text-align: center;
  .slide {
    float: none;
  }
}

.tab-slider {
  &--tabs {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: $tab-border-radius;
    overflow: hidden;
    background: $grey-park;
    user-select: none;
    &:after {
      content: "";
      width: 50%;
      background: $grey-active-park;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 250ms ease-in-out;
      border-radius: $tab-border-radius;
    }
    &.slide:after {
      left: 50%;
    }
  }
  &--trigger {
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    color: $white;
    text-align: center;
    padding: 11px $base-margin;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    user-select: none;
    &.active {
      color: $white;
    }
  }
  &--body {
    margin-bottom: $base-margin;
  }
}

.winter-tab {

}

ul.tabs-content {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  .red {
    color: $red-park;
  }
  .green {
    color: $green-park;
  }
  .link {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid $grey-landing;
    &__title {
      color: $color-text-gray;
      font-size: 20px;
      font-weight: 400;
    }
    &__number {
      font-size: 72px;
      font-weight: 600;
      line-height: 1;
    }
    &__text {
      color: $pumpkin;
      font-size: 36px;
      font-weight: 600;
      line-height: 1;
    }
    &.current {
      &:after {
        content: '';
        position: absolute;
        bottom: -8px;
        width: 14px;
        height: 14px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        border-top: 1px solid $grey-landing;
        border-left: 1px solid $grey-landing;
        background: $white;
      }
    }
  }
}

.tab-content {
  display: none;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  &.current {
    display: inherit;
  }
  .tab-bird-container {
    margin-top: 20px;
  }
}

.park-body {
  margin-bottom: 50px;
  &__title {
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 1.15;
  }
  &__body-text {
    font-size: 16px;
  }
}

// Style for content park page.
.node-type-park {
  font-family: $font-sans;
  .hero-image {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 110px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
    }

  }
  .park_top {
    margin-bottom: 25px;
  }
  .list-of-park {
    position: absolute;
    bottom: 15px;
    &__current-page {
      position: relative;
      z-index: 1;
      a {
        color: $white;
        font-size: 48px;
        letter-spacing: .4px;
      }
    }
    // Todo update style for drop down list pg items.
    &__others-page {
      display: none;
    }
  }
  .park_info {
    font-size: 16px;
    > .field {
      display: inline-block;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    .field-label {
      font-weight: normal;
    }
    .field-name-field-park-map-image,
    .field-name-field-park-description {
      float: left;
    }
    .field-name-field-park-map-image {
      max-width: 135px;
      img {
        width: 100%;
      }
    }
    .field-name-field-park-description {
      width: calc(100% - 165px);
      p {
        line-height: 1.38;
      }
    }
  }
}

.form-container {
  &.green {
    background: $green-landing;
    padding: 15px 0;
  }
  .inner {
    float: left;
    width: 50%;
  }
  label, select {
    margin-bottom: 0;
  }
  &__text {
    label {
      color: $white;
      font-family: $font-sans;
      font-size: 33px;
      line-height: 1.15;
    }
  }
  select {
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    border: solid 1px #d4d4d4;
    border-radius: 8px;
    background-color: $white;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }
  .bird-select {
    //select {
    //  display: none;
    //  &:first-child {
    //    display: block;
    //  }
    //}
  }
}