.progress-bar-wrapper {
  .section-header {
    h2 {
      font-size: 26px;
      font-weight: 400;
    }
  }
  .progress-bar-content {
    background: $color-light-gray;
    border-radius: 30px;
    height: 60px;
    position: relative;
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
    font-family: $font-sans;
    line-height: 60px;

    .progress {
      background: $color-pea-green;
      text-align: center;
      height: inherit;
      border-radius: 30px;
      position: relative;
      min-width: 60px;
      max-width: 100%;

      .progress-label {
        border-radius: 30px;
        display: block;
        height: 60px;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 99.9%;
        white-space: nowrap;

        .progress-start {
          float: left;
          padding-left: 20px;
          padding-right: 20px;
        }
        .progress-current {
          display: inline-block;
          white-space: pre-line;
          overflow: hidden;
          text-align: center;
          padding: 0 20px;
          position: absolute;
          right: 0;
          max-width: 100%;
          width: 100%;
        }
      }
      &.progress-low {
        .progress-current {
          background: $color-pea-green;
          width: auto;
        }
      }

      @include breakpoint(max-width, #{upper-bound($small-range)}) {
        &.progress-low {
          .progress-start {
            display: none;
          }
          .progress-current {
            width: 100%;
          }
        }
      }
    }
    .progress-finish {
      position: absolute;
      right: 20px;
      top: 0;
    }
  }
  &.space-top {
    padding-top: $column-gutter;
    &.double {
      padding-top: $column-gutter*2;
    }
  }
  &.space-bottom {
    padding-bottom: $column-gutter;
    &.double {
      padding-bottom: $column-gutter*2;
    }
  }
}
