.range-map-key {
  padding-top: 10px;
  margin: 10px 0 0 0;

  border-top: 1px solid $color-light-gray;

  font-family: $font-sans;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;

  .key-item {
    display: block;
    margin-bottom: 5px;
  }

  .key-swatch {
    display: inline-block;
    vertical-align: middle;

    width: 16px;
    height: 16px;

    margin-right: 5px;
  }

  .key-label {
    display: inline-block;
    vertical-align: middle;
  }
}
