.row {
  &.space-top { 
    padding-top: $column-gutter; 
    &.double {
      padding-top: $column-gutter*2;
    }
  }
  &.space-bottom { 
    padding-bottom: $column-gutter; 
    &.double {
      padding-bottom: $column-gutter*2;
    }
  }

  &.collapse-gutters {
    .columns,
    .column {
      padding: 0 $column-gutter/4;
      &:first-child {
        padding: 0 $column-gutter/4 0 $column-gutter/2;
      }
      &:last-child {
        padding: 0 $column-gutter/2 0 $column-gutter/4;
      }
    }
  }
}