// --------------
// Social Sharing
// Call to action text and several iconic links
// Appears in many different parts of the layout
// 
// Example markup:
//
// <div class="social-sharing">
//   <span class="social-sharing-caption small">Take flight with Audubon</span>
//   <a href="#" class="social-sharing-icon blue small"><i class="icon-twitter"></i></a>
//   <a href="#" class="social-sharing-icon blue small"><i class="icon-facebook"></i></a>
//   <a href="#" class="social-sharing-icon blue small"><i class="icon-mail"></i></a>
// </div>
//
// --------------

.social-sharing {
  text-align: center;

  @include breakpoint(large-up) {
    &.align-right {
      text-align: right;
    }
    &.align-left {
      text-align: left;
    }
  }
}

%social-sharing-colors {
  &.blue           { color: $color-bright-blue; }
  &.pea-green      { color: $color-pea-green; }
  &.white          { color: $color-white; }
  &.black          { color: $color-black; }
  &.light-gray     { color: $color-light-gray; }
  &.middle-gray    { color: $color-middle-gray; }
}

.social-sharing-caption {
  font-family: $font-sans;
  font-size: $size-text-large;
  vertical-align: middle;
  @extend %social-sharing-colors;

  &.small {
    font-size: $size-text-base;
  }

  &:not(.small) {
    @include breakpoint(max-width, #{upper-bound($small-range)}) {
      display: block;
      margin: 0 auto $size-space auto;
      width: 80%;
    }
  }
}

.social-sharing-icon {
  font-size: $size-text-large + 10px;
  margin-left: $size-space;
  text-decoration: none !important;
  vertical-align: middle;
  @extend %social-sharing-colors;

  i {
    vertical-align: middle;
  }

  &.small {
    font-size: $size-text-large - 2px;
    margin-left: $size-space/2;
  }
}

// Variants

.social-sharing.no-caption {
  .social-sharing-icon {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}