//@todo Move to file
$gray-menu-filter: #fbfaf6;
$bord-filter: #dfdfdf;
$dark-filter: #404040;
$dark-bg-filter: #303030;
$dark-border-filter: #1c1c1c;
$text-gray-filter: #9b9b9b;

@mixin style-input() {
  input[type="radio"], input[type="checkbox"] {
    position: absolute;
    left: -999em;
  }
  label {
    display: block;
    position: relative;
    padding-left: 25px;
    &:before {
      content: '';
      position: absolute;
      top: .25em;
      left: -2px;
      width: 14px;
      height: 14px;
    }
  }
  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before {
    border: 1px solid $bord-filter;
    background: transparent;
  }
  input[type="radio"] + label:before {
    border-radius: 50%;
  }
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background: $bord-filter;
  }
}

.species-filter {
  margin-bottom: 40px;
  font-family: $font-sans;
  @include breakpoint(large-up) {
    margin-bottom: 60px;
  }
  .text-info {
    background: $gray-menu-filter;
    padding: 10px 20px;
    margin: 30px 10px 10px;
    @include breakpoint(large-up) {
      padding: 15px 20px;
      margin: 30px 10px 30px;
    }
    p {
      color: $text-gray-filter;
      font-size: 15px;
      line-height: 1.33;
      @include breakpoint(large-up) {
        font-size: 20px;
      }
    }
  }
  .alphabet-block {
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 30px;
    ul {
      list-style: none;
      margin: 0;
      @extend %content-between;
      width: 340%;
      @include breakpoint(large-up) {
        width: 100%;
      }
    }
    li {
      a {
        font-size: 24px;
        color: $brownish-grey;
        cursor: pointer;
        &.active,
        &:hover {
          color: #89774f;
        }
      }
    }
  }
  .filter-block {
    display: none;
    @include breakpoint(large-up) {
      display: block;
    }
    > div {
      a {
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        background-color: #EDECEA;
        color: #838078;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .views-widget-filter-field_ct_letter {
      display: none;
    }
    .views-widget {
      .form-radios {
        font-family: $lato-font;
        width: 100%;
        padding: 15px 0;
        margin-bottom: 10px;
        background: $gray-menu-filter;
        border: 1px solid $bord-filter;
      }
    }
    fieldset.collapsible {
      height: auto;
      margin: 0;
      padding: 0;
      border: 0;
      legend {
        width: 100%;
        margin: 0;
        padding: 0;
        background: transparent;
      }
    }
    .views-exposed-form .views-exposed-widget {
      width: 100%;
      padding: 0;
    }
    .form-item.form-type-radio {
      @include style-input();
      padding: 15px;
      border-bottom: 1px solid #dfdfdf;
      input {
        margin: 0;
      }
      &:last-child {
        padding: 15px 15px 0;
        border-bottom: 0;
      }
    }
    .option {
      font-size: 17px;
    }
    .fieldset-legend {
      position: relative;
    }
    .fieldset-title {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 0;
      padding: 0 15px;
      color: $black;
      font-size: 25px;
      font-weight: normal;
      .fieldset-legend-prefix {
        display: block;
        right: 10px;
        bottom: 0;
        width: 12px;
        height: 12px;
        clip: inherit;
        transform: translateY(-50%);
        font-size: 0;
        &:before,
        &:after {
          content: '';
          position: absolute;
          transition: transform .25s ease-out;
          border-radius: 2px;
          background-color: $dark-filter;
        }
        &:before {
          top: 0;
          left: 50%;
          width: 2px;
          height: 100%;
          transform: translateX(-50%) rotate(90deg);
        }
        &:after {
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          transform: translateY(-50%);
          background: transparent;
        }
      }
    }
    .collapsed {
      .fieldset-title {
        .fieldset-legend-prefix {
          &:before {
            transform: translateX(-50%) rotate(0);
          }
          &:after {
            background-color: $dark-filter;
          }
        }
      }
    }
    input[type='text'] {
      border: 1px solid $bord-filter;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      padding-right: 30px;
    }
    .form-item-search {
      position: relative;
      margin-bottom: 15px;
      &:before,
      &:after {
        content: '';
        position: absolute;
      }
      &:before {
        width: 10px;
        height: 10px;
        right: 15px;
        top: 18px;
        transform: translateY(-50%);
        border: 2px solid $dark-filter;
        border-radius: 100px;
      }
      &:after {
        right: 10px;
        width: 5px;
        top: 22px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 2px solid $dark-filter;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
    &__menu-block {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: $lato-font;
        p {
          position: relative;
        }
      }
      .first-level {
        > li {
          margin-bottom: 10px;
          background: $gray-menu-filter;
          border: 1px solid $bord-filter;
          padding: 15px;
          font-size: 25px;
          position: relative;
          &.js-open {
            padding: 15px 15px 0;
            cursor: pointer;
            i {
              &:before {
                transform: rotate(90deg);
              }
              &:after {
                background: transparent;
              }
            }
          }
        }
      }
      .second-level {
        margin: 0 -15px;
        li {
          border-bottom: 1px solid $bord-filter;
          padding: 15px;
          font-size: 17px;
          p {
            padding-left: 24px;
            padding-right: 10px;
            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 14px;
              height: 14px;
              border-radius: 50%;
              border: 1px solid $bord-filter;
            }
          }
          &.js-open {
            i {
              transform: rotate(-135deg);
              -webkit-transform: rotate(-135deg);
            }
          }
        }
      }
      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        cursor: pointer;
      }
      i.plus {
        width: 12px;
        height: 12px;
        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: $dark-filter;
          border-radius: 2px;
          transition: transform 0.25s ease-out;
        }
        &:before {
          top: 0;
          left: 50%;
          width: 2px;
          height: 100%;
          transform: translateX(-50%);
        }
        &:after {
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          transform: translateY(-50%);
        }
      }
      i.down {
        border: solid $dark-filter;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        border-radius: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      &.dark-style {
        margin-bottom: 20px;
        .first-level {
          > li {
            color: $white;
            background: $dark-bg-filter;
            border: 1px solid $dark-border-filter;
            margin-bottom: 0;
          }
        }
        .second-level {
          li {
            border-bottom: 1px solid $dark-border-filter;
            opacity: .5;
          }
        }
        i {
          opacity: .5;
        }
        i.plus {
          &:before,
          &:after {
            background-color: $white;
          }
        }
        i.down {
          border: solid $white;
          border-width: 0 3px 3px 0;
        }
      }
    }
  }
  .birds-wrap {
    @include breakpoint(large-up) {
      float: left;
    }
    &__title {
      h4 {
        font-size: 28px;
        @include breakpoint(large-up) {
          font-size: 33px;
        }
      }
      margin-bottom: 15px;
    }
  }
}

.dark-style {
  margin-bottom: 20px;
  .first-level {
    > li {
      color: $white;
      background: $dark-bg-filter;
      border: 1px solid $dark-border-filter;
      margin-bottom: 0;
    }
  }
  .second-level {
    li {
      border-bottom: 1px solid $dark-border-filter;
      opacity: .5;
    }
  }
  i {
    opacity: .5;
  }
  i.plus {
    &:before,
    &:after {
      background-color: $white;
    }
  }
  i.down {
    border: solid $white;
    border-width: 0 3px 3px 0;
  }
}

// Style for /conservation-tracker/landscapes page.
#nas-conservation-tracker-landscapes-map-form {
  display: none;
  &.js-open-mobile {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: #1c1c1c;
    > div {
      margin-top: 25px;
    }
    .title-form {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-top: 20px;
      overflow: hidden;
      color: $white;
      font-family: $font-sans;
      font-size: 18px;
      span {
          position: relative;
          display: inline-block;
          width: 15px;
          height: 15px;
          overflow: hidden;
          cursor: pointer;
          &:before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: $white;
            transform: rotate(45deg);
          }
          &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: $white;
            transform: rotate(-45deg);
          }

      }
    }
  }
  @include breakpoint(large-up) {
    position: absolute;
    z-index: 999;
    width: 25%;
    max-width: 230px;
    margin: 50px 0 0 15.27777777777778%;
  }
  .form-item {
    &.form-type-radios,
    &.form-type-checkboxes {
      margin-bottom: 10px;
      padding: 15px;
      background: $dark-bg-filter;
      color: $white;
      @include breakpoint(large-up) {
        margin-bottom: 3px;
      }
    }
    input {
      margin: 0;
    }
    label {
      position: relative;
      color: $white;
      font-size: 25px;
      &.option {
        font-size: 17px;
      }
    }
    .form-type-radio,
    .form-type-checkbox {
      @include style-input();
      padding: 5px 0;
      opacity: .5;
      &:last-child {
        padding: 5px 0 0;
      }
    }
  }
  .form-type-radios,
  .form-type-checkboxes {
    > label ~ div {
      display: none;
    }
    > label.js-open ~ div {
      display: block;
    }
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
  }
  i.plus {
    width: 12px;
    height: 12px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $white;
      border-radius: 2px;
      transition: transform 0.25s ease-out;
    }
    &:before {
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      transform: translateX(-50%);
    }
    &:after {
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      transform: translateY(-50%);
    }
    &.js-open {
      &:before {
        transform: rotate(90deg);
      }
      &:after {
        background: transparent;
      }
    }
  }
}

.ct-landscapes-main {
  position: relative;
  .wrap-map-diagram {
    .ct-leaflet-site {
      border-radius: 50px;
      background: transparent;
    }
  }
  .leaflet-popup {
    .leaflet-popup-content-wrapper {
      background: transparent;
      box-shadow: none;
      padding: 0;
    }
    .bg-white {
      padding: 5px 15px;
      overflow: hidden;
      background: $white;
      line-height: 1.1;
    }
    .leaflet-popup-content {
      margin: 0;
      font-family: $font-sans;
      img {
        float: left;
      }
    }
    .text-wrap {
      font-size: 23px;
      text-align: left;
    }
    .link-wrap {
      a {
        color: #0AA8E3;
        font-size: 15px;
      }
    }
    .leaflet-popup-close-button {
      display: none;
    }
  }
}

.js-overflow {
  overflow: hidden;
  .global-header,
  .global-footer,
  .mailing-list {
    z-index: -1;
  }
}
