// ------
// Tables
// ------

table {
  font-family: $font-sans;
  font-size: $size-text-small;
  line-height: $size-line-small;
  text-align: left;
  width: 100%;
  margin-bottom: $size-line-base;

  // Bold headers
  th { font-weight: 600; }
  
  // Padded cells
  td,
  th {
    padding: $size-space/2 $size-space;
    vertical-align: top;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }

    @include breakpoint(large-up) {
      max-width: 220px;
    }
  }

  // Unpad the top-most and bottom-most cells
  tr {
    &:first-child > td,
    &:first-child > th {
      padding-top: 0;
    }
    &:last-child > td,
    &:last-child > th {
      padding-bottom: 0;
    }
  }

  &.less-padding {
    td,
    th {
      padding: 0 $size-space;
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }
    }
  }

  &.collapse {
    // Linearize the tables on small screens
    @include breakpoint(max-width, #{upper-bound($small-range)}) {
      td, th {
        display: block;
        padding: 0;
      }
      tr:not(:first-child) th {
        padding-top: $size-space;
      }
    }
  }

  &.data {
    font-size: $size-text-base;

    thead,
    tfoot {
      th, td {
        padding: $size-space !important;
      }
    }
    tbody {
      th, td {
        padding: $size-space/2 $size-space !important;
      }
      tr:first-child > td {
        padding-top: $size-space !important;
      }
      tr:last-child > td {
        padding-bottom: $size-space !important;
      }
    }

    thead {
      background-color: #f8f8f8;
      border-top: 2px solid #eee;
      border-bottom: 2px solid #eee;
    }
    tfoot {
      border-top: 2px solid #eee;
      font-weight: 600;
    }

    @include width-range(768px, 900px) {
      font-size: $size-text-small;
      thead, tbody, tfoot {
        th, td {
          padding-left: 5px !important;
          padding-right: 5px !important;
        }
      }
    }
  }

  &.row-borders {
    tbody {
      td {
        padding-top: $size-space !important;
        padding-bottom: $size-space !important;
        border-bottom: 2px solid #eee;
      }
    }
  }
}