.node-type-video-page {

  h1 {
    color: #aaaaaa;
    font-size: 40px;
    padding-left: 10px;
  }

  .video-wrapper {
    background-color: #202020;

    .video {
      text-align: center;
      line-height: 0;
      padding: 0 40px;

      .flex-video {
        margin-bottom: 0;
        padding-bottom: 60%;
        padding-top: 0;
      }
    }
  }

  .video-summary {
    color: #eeeeee;

    .text-container {
      p {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 15px;
      }
    }

    .social-sharing-icon {
      font-size: 21px;
      margin-left: 1px;
    }

  }
}
