.at.ngp-form {
    font-family: "Source Sans Pro";
    max-width: none;
    margin: auto;
}

.at .at-title {
    display: none;
}

.at form {
    position: relative;
}

.at.black .at-inner {
    background: #000;
    color: #fff;
}

.at.square .at-inner {
    width: 360px;
    min-height: 320px;
}

.at.rectangle .at-inner {
    width: 600px;
    min-height: 175px;
}

.at .at-fields {
    display: flex;
    flex-wrap: wrap;
}

.at fieldset.at-fieldset {
    padding: 18px 26px 15px;
}

.at.rectangle fieldset.at-fieldset {
    padding-left: 22px;
    padding-right: 22px;
}

.at fieldset legend.at-legend {
    font-size: 28px;
    margin: 0;
    font-family: "Source Sans Pro";
    padding-top: 16px;
}

.at.rectangle fieldset legend.at-legend {
    padding-top: 14px;
}

.at.black .at-row,
.at.black .at_home a,
.at.black fieldset legend {
    color: #fff;
}

.at.black .at_home a:hover {
    text-decoration: none;
}

.at .at-text {
    font-size: 0;
}

.at .at-submit.btn-at-primary {
    position: absolute;
    top: 52.5%;
    width: 145px;
    background: #F15936;
    border-radius: 6px;
    float: none;
    margin: 0;
    padding: 5px 0;
    text-transform: none;
    font-family: "Source Sans Pro";
    font-size: 20px;
}

.at.rectangle .at-submit.btn-at-primary {
    top: 40%;
    right: 22px;
    width: 80px;
}

.at .at-row input {
    color: #76736c;
}

.at .at-row input[type="email"],
.at .at-row input[type="tel"] {
    border-radius: 6px;
    margin-bottom: 16px;
    font-family: "Source Sans Pro";
    font-size: 18px;
}

.at.rectangle .at-row input[type="email"],
.at.rectangle .at-row input[type="tel"] {
    margin-bottom: 12px;
}

.at .at-row input[type="email"]:focus,
.at .at-row input[type="tel"]:focus {
    background: #fff;
    border-color: #c4cfdd;
}

.at .at-row > [class^="at-"] {
    margin: 0;
    min-width: 0;
}

.at .at_pp,
.at .at_home,
.at .at-form-submit,
.at .PostalCode {
    width: 48%;
}

.at .at_pp,
.at .PostalCode,
.at.rectangle .at_home,
.at.rectangle .description,
.at.rectangle .at_pp,
.at.rectangle .at-form-submit,
.at.rectangle .EmailAddress,
.at.rectangle .PostalCode {
    float: left;
}

.at.rectangle .PostalCode,
.at.rectangle .at-form-submit {
    margin-left: 1.5%;
}

.at.rectangle .description,
.at.rectangle .EmailAddress {
    width: 55%;
}

.at .EmailAddress {
    order: 1;
    width: 100%;
}

.at .PostalCode {
    order: 2;
}

.at .at-description {
    order: 3;
}

.at.square .PostalCode input {
    margin-bottom: 10px;
}

.at.rectangle .PostalCode {
    width: 27.5%;
}

.at.rectangle .at-form-submit {
    width: 12%;
}

.at .description {
    line-height: 1.6;
}

.at.rectangle .at_home,
.at.rectangle .at_pp {
    width: auto;
    margin-left: 2.5%;
}

.at.rectangle .at_home {
    width: 25%;
}

.at .at_home,
.at .at-form-submit {
    float: right;
    padding: 0;
}

.at .at-description {
    clear: both;
    font-size: 15px;
}

.at .at_home,
.at .at_pp {
    height: 42px;
}

.at .at_pp {
    padding-top: 27px;
}

.at div.at-row.at-description .at_pp a {
    font-size: 14px;
}

.at .at_home {
    padding-left: 34px;
    background-position: 10px -1px;
    background-repeat: no-repeat;
    background-size: 26%;
}

.at.rectangle .at_home {
    padding-left: 24px;
    background-position: 2px -3px;
}

.at .at_home span {
}

.at .at_home a {
    height: 0;
    display: block;
    padding-top: 43px;
    position: relative;
    overflow: hidden;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.at.white .at_home a {
    background-image: url("../../../themes/custom/nas/img/wordmark-black-mobile.png");
}

.at.black .at_home a {
    background-image: url("../../../themes/custom/nas/img/wordmark-white-mobile.png");
}

.at.black .at_home a {
    color: #fff;
}

.at.white .at_home a {
    color: #000;
}

.at.black .at_home {
    background-image: url(../../../themes/custom/nas/img/crane_small_white.png);
}

.at.white .at_home {
    background-image: url(../../../themes/custom/nas/img/crane_small_black.png);
}

.at .FooterHtml {
    margin: 0;
}