.sm2_playing .icon-sound-full:before {
  content: '\e600';
  font-size: 11px;
  left: -1px;
  position: relative;
  top: -2px;
}
.bird-card {
  .views-field-field-bird-audio,
  .field-name-field-bird-audio {
    display: block;
    font-size: 15px;
    left: 0;
    line-height: 15px;
    padding: 10px 25px 25px 10px;
    position: absolute;
    top: 0;

    li {
      display: none;

      &:first-child {
        display: block;
      }
    }

    .sm2_link {
      font-size: 0;
      
      .icon-sound-full {
        font-size: 15px;
      }
    }
  }
}

.bird-card-set {
  .owl-carousel {
    .owl-wrapper-outer {
      padding-top: 5px;
    }

    .owl-controls {
      text-align: center;
      color: #888;

      .disabled i {
        opacity: 0.4;
      }

      .owl-prev, .owl-next {
        display: inline;
        margin: 0 5px;
      }
    }

    .owl-item {
      padding: 0 12.5px;
    }
  }
}

.page-birds-landing #block-system-main {
  @include breakpoint(large-up) {
    margin-top: -100px;
  }
}
