@import "compass";
// --------------
// Style Manifest
// --------------

// Variables and stuff
@import "variables";

// Normalize
@import "normalize";

// Web fonts
@import "fonts/icon-font";

// Foundation stuff
@import "settings";
@import "foundation";

/*Important: In case foundation doesn't compiled on some environments, attach compiled file*/
@import "foundation-compiled";

// Utilities
@import "utilities/breakpoint"; // Media queries!
@import "utilities/font-smoothing";
@import "utilities/hide";
@import "utilities/text-container";
@import "utilities/image-icons";

// Vendor
@import "vendor/colorbox";
@import "vendor/responsive-tables";

// Basic styles
@import "base";

// Layout styles
@import "layout/global-header";
@import "layout/global-nav";
@import "layout/global-content";
@import "layout/global-footer";

// -------
// Modules
// -------

// Generic modules
@import "modules/row-spacing";
@import "modules/typography";
@import "modules/cards";
@import "modules/bird-cards";
@import "modules/breakout-cards";
@import "modules/engagement-cards";
@import "modules/editorial-cards";
@import "modules/mailing-list";
@import "modules/donate-bar";
@import "modules/tables";
@import "modules/load-more-button";
@import "modules/article-meta";
@import "modules/strip-nav";

// Header modules
@import "layout/hero";
@import "modules/wordmark";
@import "modules/dont-miss";
@import "modules/header-buttons";
@import "modules/header-search";
@import "modules/header-subtitle";
@import "modules/guide-bar";
@import "modules/bird-guide-search";
@import "modules/slideshow-page-header";
@import "modules/national-strip";
@import "modules/flyway-minimap";
@import "modules/flyway-megamap";
@import "modules/microsite-banner";
@import "modules/microsite-mobile-search";

// Navigation modules
@import "modules/mobile-nav";
@import "modules/primary-nav-helper";
@import "modules/primary-nav";
@import "modules/secondary-nav";
@import "modules/action-nav";

// Content modules
@import "modules/social-sharing";
@import "modules/card-set";
@import "modules/bird-card-set";
@import "modules/bird-card-grid";
@import "modules/article";
@import "modules/article-header";
@import "modules/article-text";
@import "modules/article-aside";
@import "modules/comments";
@import "modules/banners";
@import "modules/section-nav";
@import "modules/section-header";
@import "modules/bird-guide-container";
@import "modules/bird-guide-card";
@import "modules/thumb-strip";
@import "modules/index-list";
@import "modules/slideshow";
@import "modules/feature-set";
@import "modules/conservation-projects";
@import "modules/conservation-strategy";
@import "modules/conservation-slider";
@import "modules/breakout-section";
@import "modules/page-summary";
@import "modules/_page-content";
@import "modules/inline-map";
@import "modules/map-profile";
@import "modules/magazine-issue";
@import "modules/bio-header";
@import "modules/table-sort";
@import "modules/curtain";
@import "modules/bg-egg";
@import "modules/breakout-flyway";
@import "modules/donation-form";
@import "modules/flyway-path-map";
@import "modules/flyway-slides";
@import "modules/curtain-fallback";
@import "modules/microsite-form";
@import "modules/focal-bird-selector";
@import "modules/focal-bird-dropdown";
@import "modules/focal-bird-map";
@import "modules/focal-bird-engagement";
@import "modules/focal-bird-venn";
@import "modules/focal-bird-video";
@import "modules/microsite-home";
@import "modules/climate-flyway-map";
@import "modules/microsite-bird-search";
@import "modules/family-page";
@import "modules/boa";
@import "modules/near_you";
@import "modules/static-page";
@import "modules/views-load-more";
@import "modules/search_results";
@import "modules/about_landing";
@import "modules/our_leadership";
@import "modules/homepage";

// Sidebar modules
@import "modules/sidebar";
@import "modules/article-sidebar";
@import "modules/story-list";
@import "modules/contact-info";
@import "modules/welcome-cards";

//NAS
@import "nas";
