@charset "UTF-8";

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?qw9hs9');
	src:url('../fonts/icomoon.eot?#iefixqw9hs9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?qw9hs9') format('woff'),
		url('../fonts/icomoon.ttf?qw9hs9') format('truetype'),
		url('../fonts/icomoon.svg?qw9hs9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-zoomin,
.icon-zoomout,
.icon-fullscreen {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	&:before {
		font-size: 1;
	}
}

.icon-zoomin:before {
	content: "\e037";
}
.icon-zoomout:before {
	content: "\e038";
}
.icon-fullscreen:before {
	content: "\e128";
}

@font-face {
  font-family: "audubon";
  src:url("../fonts/audubon.eot");
  src:url("../fonts/audubon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/audubon.woff") format("woff"),
    url("../fonts/audubon.ttf") format("truetype"),
    url("../fonts/audubon.svg#audubon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "audubon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "audubon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
	vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mail:before {
  content: "a";
}
.icon-facebook:before {
  content: "b";
}
.icon-twitter:before {
  content: "c";
}
.icon-youtube:before {
  content: "d";
}
.icon-pinterest:before {
  content: "e";
}
.icon-instagram:before {
  content: "f";
}
.icon-quote:before {
  content: "g";
}
.icon-info:before {
  content: "h";
}
.icon-spin-widdershins:before {
  content: "i";
}
.icon-spin-clockwise:before {
  content: "j";
}
.icon-home:before {
  content: "k";
}
.icon-delete:before {
  content: "l";
}
.icon-chevron-right:before {
  content: "m";
}
.icon-chevron-left:before {
  content: "n";
}
.icon-music:before {
  content: "o";
}
.icon-check:before {
  content: "p";
}
.icon-arrow-right:before {
  content: "q";
}
.icon-arrow-left:before {
  content: "r";
}
.icon-expand:before {
  content: "s";
}
.icon-zoom:before {
  content: "t";
}
.icon-slides:before {
  content: "u";
}
.icon-paper-airplane:before {
  content: "v";
}
.icon-map:before {
  content: "w";
}
.icon-marker:before {
  content: "x";
}
.icon-grid:before {
  content: "y";
}
.icon-burst:before {
  content: "z";
}
.icon-chevron-up:before {
  content: "A";
}
.icon-comment:before {
  content: "B";
}
.icon-calendar:before {
  content: "C";
}
.icon-newspaper:before {
  content: "D";
}
.icon-camera:before {
  content: "E";
}
.icon-video:before {
  content: "F";
}
.icon-sound-off:before {
  content: "G";
}
.icon-sound-half:before {
  content: "H";
}
.icon-sound-full:before {
  content: "I";
}
.icon-magnifier:before {
  content: "J";
}
.icon-bookmark:before {
  content: "K";
}
.icon-link:before {
  content: "L";
}
.icon-zoomin:before {
  content: "\e037";
}
.icon-zoomout:before {
  content: "\e038";
}
.icon-fullscreen:before {
  content: "\e128";
}
