%text-left,
.text-left{
  text-align: left;
}

%text-right,
.text-right {
  text-align: right;
}

%text-center,
.text-center {
  text-align: center;
}

%text-justify,
.text-justify {
  text-align: justify;
}

%text--blue,
.text--blue {
  color: $color-bright-blue;
}

// Native Plants
%native-plants-large-input {
  @include border-radius(8px);
  font-weight: 300;
  font-size: 19px;
  height: 45px;
  width: 100%;

  .-wrap-select & {
    height: 43px;
  }
}

%native-plants-search-form {
  @include breakpoint(large-up) {
    margin-bottom: 24px;
  }

  .form-text {
    @extend %native-plants-large-input;
    margin-bottom: 12px;

    @include breakpoint(large-up) {
      margin-bottom: 16px;
    }
  }

  .native-plants-search-form--submit {
    @extend %native-plants-large-input;
  }
}

%header--orange,
.header--orange {
  color: $color-orange;
  font-size: 36px;
  letter-spacing: 0;
  margin-bottom: 14px;
  text-transform: capitalize;

  @include breakpoint(medium-up) {
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}

%content-between {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}