%text-left,
.text-left{
  text-align: left;
}

%text-right,
.text-right {
  text-align: right;
}

%text-center,
.text-center {
  text-align: center;
}

%text-justify,
.text-justify {
  text-align: justify;
}

%text--blue,
.text--blue {
  color: $color-bright-blue;
}

// Native Plants
%native-plants-large-select {
  font-weight: 300;
  border-radius: 7px;
  font-size: 19px;
  height: 45px;
  width: 100%;
}
