.manage-thumbnails-popup .dialog-close {
  display: none;
}

#file-entity-edit .field-name-field-file-image-alt-text,
#file-entity-add-upload .field-name-field-file-image-alt-text {
  clear: both;
}

div.ctools-modal-content .form-type-textarea.form-item label {
  float: none;
  width: auto;
}