<table align="center" border="0" cellspacing="0" cellpadding="0" style="max-width: 632px; width: 100%;">
  <tbody>
    <tr>
      <td height="158" style="height: 158px;">
        <container class="footer-container">
          <row>

            <columns small="12" large="5" class="footer-column-logo">
              <a href="#"><img src="../../img/email/footer-logo.png"  class="footer-logo" width="144" alt=""/></a>
            </columns>

            <columns small="12" large="7" class="footer-column-address">
              <p class="address">
                225 Varick Street, 7th Floor, New York, NY 10014<br>
                <a href="mailto:AudubonConnect@audubon.org">AudubonConnect@audubon.org</a>
              </p>
            </columns>

          </row>
        </container>
      </td>
    </tr>
  </tbody>
</table>
