<div class="plants-list hide-for-large">
  <container>
    <row>
      <columns>
        <h2 class="plants-list-title">Your Plants list</h2>
      </columns>
    </row>
  </container>

  <div class="clearfix view-row">
    <div class="columns">
      <div>
        <span class="mobile-search-full-results--label">Plant:</span> Common juniper
      </div>
      <div>
        <span class="mobile-search-full-results--label">Scientific name:</span> <em>Juniperus communis</em>
      </div>
      <div>
        <span class="mobile-search-full-results--label">Attributes:</span>
        <span class="npm-light-red">Butterflies</span>, <span class="npm-dark-red">Flowering</span>, <span class="npm-dark-green">Tree</span>
      </div>
      <div>
        <span class="mobile-search-full-results--label">Attracts:</span> <a href="#">Insectivores</a>, <a href="#">Seed eaters</a>
      </div>
    </div>
  </div>

  <div class="clearfix view-row">
    <div class="columns">
      <div>
        <span class="mobile-search-full-results--label">Plant:</span> Common juniper
      </div>
      <div>
        <span class="mobile-search-full-results--label">Scientific name:</span> <em>Juniperus communis</em>
      </div>
      <div>
        <span class="mobile-search-full-results--label">Attributes:</span>
        <span class="npm-light-red">Butterflies</span>, <span class="npm-dark-red">Flowering</span>, <span class="npm-dark-green">Tree</span>
      </div>
      <div>
        <span class="mobile-search-full-results--label">Attracts:</span> <a href="#">Insectivores</a>, <a href="#">Seed eaters</a>
      </div>
    </div>
  </div>

  <div class="clearfix view-row">
    <div class="columns">
      <div>
        <span class="mobile-search-full-results--label">Plant:</span> Common juniper
      </div>
      <div>
        <span class="mobile-search-full-results--label">Scientific name:</span> <em>Juniperus communis</em>
      </div>
      <div>
        <span class="mobile-search-full-results--label">Attributes:</span>
        <span class="npm-light-red">Butterflies</span>, <span class="npm-dark-red">Flowering</span>, <span class="npm-dark-green">Tree</span>
      </div>
      <div>
        <span class="mobile-search-full-results--label">Attracts:</span> <a href="#">Insectivores</a>, <a href="#">Seed eaters</a>
      </div>
    </div>
  </div>
</div>
