<container class="show-for-large">
  <row>
    <columns>
      <table width="100%" border="0" cellspacing="0" cellpadding="12" class="list-table">
        <thead>
          <tr>
            <th class="plant-name-cell">Plant name</th>
            <th class="scientific-name-cell">Scientific Name</th>
            <th class="may-attract-cell">May attract</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="plant-name-cell">Common juniper</td>
            <td class="scientific-name-cell"><em>Juniper communis</em></td>
            <td class="may-attract-cell">
              <a href="#" class="native-plant-bird-category-link">Orioles</a>,
              <a href="#" class="native-plant-bird-category-link">Thrushes</a>,
              <a href="#" class="native-plant-bird-category-link">Crows & Jays</a>
            </td>
          </tr>
          <tr>
            <td class="plant-name-cell">Yellow Giant-Hyssop</td>
            <td class="scientific-name-cell"><em>Viola sororia</em></td>
            <td class="may-attract-cell">
              <a href="#" class="native-plant-bird-category-link">Orioles</a>,
              <a href="#" class="native-plant-bird-category-link">Thrushes</a>,
              <a href="#" class="native-plant-bird-category-link">Thrushes</a>,
              <a href="#" class="native-plant-bird-category-link">Thrushes</a>,
              <a href="#" class="native-plant-bird-category-link">Crows & Jays</a>
            </td>
          </tr>
          <tr>
            <td class="plant-name-cell">Eastern hemlock</td>
            <td class="scientific-name-cell"><em>Tsuga canadensis</em></td>
            <td class="may-attract-cell">
              <a href="#" class="native-plant-bird-category-link">Orioles</a>,
              <a href="#" class="native-plant-bird-category-link">Thrushes</a>,
              <a href="#" class="native-plant-bird-category-link">Crows & Jays</a>
            </td>
          </tr>
        </tbody>
      </table>
    </columns>
  </row>
</container>
