%image-icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.icon-binoculars {
  @extend %image-icon;
  background-image: url(../img/binoculars-white.png);
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  &.white { background-image: url(../img/binoculars-white.png); }
  &.black { background-image: url(../img/binoculars-black.png); }
}

.icon-menu {
  @extend %image-icon;
  background-image: url(../img/icon-menu.png);
  background-size: 25px 19px;
  width: 25px;
  height: 19px;
}

.icon-close {
  @extend %image-icon;
  background-image: url(../img/icon-close.png);
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
}