.audubon-netx-preview table thead th {
  text-align: left;
}
.audubon-netx-preview table tbody tr:nth-child(even) {
  background: #f3f4ee;
}
.audubon-netx-preview table tbody tr .form-item {
  margin: 0;
}
.audubon-netx-preview table tbody tr .media-item img {
  display: inline;
}

.audubon-netx-preview table tbody tr.netx-selected {
  background: #f4ecc7;
}
/*-------------------------
	Pagers
-------------------------*/
.view-pager {
  display: block;
  text-align: center;
}
.netx-pager {
  clear: both;
}
.netx-pager .netx-pager-item {
  display: inline-block;
  margin: 0;
  float: none;
}
.netx-pager .netx-pager-item a {
  padding: 0 10px;
  display: block;
}
.netx-pager .netx-pager-item.current a {
  font-weight: bold;
  background-color: #eee;
}
.netx-pager .netx-pager-item a:hover {
  background-color: #03689b;
  color: #fff;
}
