@import 'normalize';

$primary-color: #000;

body.audubon-climate-model {
  color: $primary-color;
  padding:0;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;

  h1 { font-size: 20px; }
  h2, h3 {font-size: 16px;}

  input::-webkit-input-placeholder {
     color: $primary-color;
  }

  input:-moz-placeholder { /* Firefox 18- */
     color: $primary-color;  
  }

  input::-moz-placeholder {  /* Firefox 19+ */
     color: $primary-color;  
  }

  input:-ms-input-placeholder {  
     color: $primary-color;  
  }

  input:focus::-webkit-input-placeholder {
     color: #f5f5f5;
  }

  input:focus:-moz-placeholder { /* Firefox 18- */
     color: #f5f5f5;  
  }

  input:focus::-moz-placeholder {  /* Firefox 19+ */
     color: #f5f5f5;  
  }

  input:focus:-ms-input-placeholder {  
     color: #f5f5f5;  
  }

  .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
    background:white;
    margin:10px;
    border:solid 1px black;
    padding:3px;
  }

  input {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: #f5f5f5;
    font-size: 16px;
    width: 220px;
  }

  li {
    margin-bottom: 10px;
  }

  .page-wrap {
    padding: 5px;

    /*width: 240px;*/
    background-color: white;
    padding: 5px;
    /*margin: 50px;*/

    .explanation { 
      background-color: #f5f5f5; 
      text-align: center; 
      font-size: 14px; 
      font-style:italic; 
      color: #666; 
      padding: 10px; 
    }

    header {
      color: #FFF;
      background-color: #000;
      font-weight: bold;

      a, a:visited, a:hover {
        color:#6FF;
      }

      .site-title a, .site-title a:visited, .site-title a:hover {
        color: #FFF;
      }

      nav {
        display:inline;
      }
    }

    main {

      width: 1024px;
      margin:0 auto;

      .map {
        width: 1024px; 
        height: 200px; 
        background-color:#FCC;

        img {
          width: 100%;
          height: auto;
          -ms-interpolation-mode: bicubic; 
        }
      }

      .notmap { 
        width: 100%; 
        height: 180px; 
      }

      ol li div {
        font-style: italic;
      }

      #list-view {

        ol li div {
          font-style: italic;
        }

      }

      #detail-view {

        .map {
          height:auto;
          transform: translate3d(0,0,0);

          .jsgif_toolbar {
            display:none;
          }
        }

      }

    }
  }

  .species {
    font-style: oblique;
  }

  .venndata {
    font-style: oblique;
    font-size: x-small;
    line-height: 0em;
  }

  a:link {
    color: #666;
    text-decoration: none;
  }

  a:visited {
    color: #999;
    text-decoration: none;
  }

  .nongeodiv {
    position: relative;
    height: 160px;
    width: 600px;
  }

  .nongeolabel {
    z-index: 9;
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
  }

  .venndiv {
    position: relative;
    float: left;
    width: 290px;
    height: 160px;
  }

  .vennlabel {
    z-index: 9;
    position: absolute;
    bottom: 0px;
    text-align: center;
    vertical-align: bottom;
    width: 280px;
  }

  .venn {
    stroke-width: 2;
    stroke-opacity: 1;
    fill-opacity: 0.3;
  }

  .vennfuture {
    fill-opacity: 0.15;
  }

  .vennsummer {
    fill: #F4ED0B;
    stroke: #F4ED0B;
  }

  .vennwinter {
    fill: #0AA8E3;
    stroke: #0AA8E3;
  }

  #flywaynavmap {
    width: 1024px;
    height: 768px;
  }

  .defaultMap {
    fill: #eee;
  }

  .Pacific {
    fill: #ff99ff;
    fill-opacity: 50%;
  }

  .Central {
    fill: #ffaa99;
    fill-opacity: 50%;
  }

  .Mississippi {
    fill: #ccffaa;
    fill-opacity: 50%;
  }

  .Atlantic {
    fill: #99ccff;
    fill-opacity: 50%;
  }

  .mapActive {
    fill-opacity: 80%;
  }

  .state-boundary {
    fill: none;
    stroke: #aaa;
    stroke-width: 0.5;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .page-wrap {
    main {
      width: 100% !important;
    }
  }

  #detail-view {
    .map {
      .controls {
        button {
          margin-right:10px;
          width:auto;
          padding:0;
        }

        button.action-play-pause {
            width:30px !important;
        }
      }
    }
  }

  .nongeodiv {
    width:100% !important;
  }
}