# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore other paths
sites/all/themes/custom/nas/.sass-cache
sites/all/themes/custom/nas_amp/.sass-cache
sites/all/modules/custom/native_plants_embed_form/.sass-cache
local_reinstall.yml
