.show-for-ie {
  display: block !important;
  visibility: visible !important;
}

.show-for-ie-ib {
  display: inline-block !important;
}

.show-for-ie-in {
  display: inline !important;
}

.hide-for-ie {
  display: none !important;
}

.strip-nav ul {
  width: 1000px !important;
  overflow: visible;
}
.strip-nav ul li {
  padding: 0 5px;
}

.dont-miss {
  height: 38px;
}

.primary-nav-item,
.action-nav-item {
  margin-right: 5px;
}

.primary-nav-toggler.open,
.primary-sub-nav.show {
  background-color: #fcfcfc !important;
}

.header-btn-menu,
.header-btn-search,
.header-btn-search-alt {
  display: none !important;
}

.section-nav li {
  margin-left: 10px;
}

.hero-inline-list li {
  margin-left: 10px;
}

.curtain,
.wordmark,
.hero,
.breakout-section,
.breakout-section-hero,
.card-set,
.icon-binoculars,
.icon-close,
.slideshow-button,
.conservation-slider-button,
.flyway-slides-paddle,
.banner,
.icon-close,
.icon-menu,
.icon-binoculars {
  -ms-behavior: url(../js/mute/backgroundsize.min.htc);
}

.breakout-section.black-bg .breakout-section-hero:not(:last-child) {
  background-image: url(../img/ie/black-gradient-up.png);
  background-position: center bottom;
  background-repeat: repeat-x;
}

.global-header.light-bg {
  background-image: url(../img/ie/white-gradient-down.png);
  background-position: center top;
  background-repeat: repeat-x;
}

.global-header.dark-bg {
  background-image: url(../img/ie/black-gradient-down.png);
  background-position: center top;
  background-repeat: repeat-x;
}

.guide-bar .preamble {
  display: inline-block !important;
}
.guide-bar .canon-logo {
  margin-top: -5px;
  display: inline !important;
}
.guide-bar .guide-bar-attribution {
  margin-top: -2px;
}

.breakout-section-box,
.slideshow-button,
.conservation-slider-button,
.title-slide .slide-img:after,
.end-slide .slide-img:after,
.flyway-slides-paddle,
.curtain-card,
.hero-attribution-text {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000) !important;
  zoom: 1;
}

.slideshow {
  margin-bottom: 15px;
}

.slideshow-title {
  margin-top: 60px;
}

.slide {
  position: relative;
}

.slideshow-button {
  top: 50% !important;
  margin-top: -30px;
}

.end-slide .slide-img img,
.title-slide .slide-img img {
  visibility: hidden;
}

.end-slide-content,
.title-slide-content {
  position: absolute;
  top: 100px;
  width: 90%;
  left: 5%;
}

.slideshow {
  top: -60px;
}
.slideshow .icon-chevron-left,
.slideshow .icon-chevron-right {
  display: none !important;
}

.end-slide-links li {
  margin-right: 10px;
}

section:not(.article-sidebar-section),
header,
footer,
aside,
.mailing-list {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.slideshow-img img {
  max-height: 600px;
  width: 100%;
}

.bg-egg {
  display: none !important;
}

.bird-card-set,
.bird-card-grid {
  background-image: none !important;
}

.mailing-list .row:before {
  background-image: none !important;
}

.mailing-list-text {
  padding-left: 0;
}

.donate-bar:before {
  background-image: none !important;
}

.editorial-card-banner i,
.bird-guide-card i {
  display: none !important;
}

.flyway-megamap {
  height: 800px;
  background-size: cover;
  background-position: center center !important;
}
.flyway-megamap .ie-gradient-top,
.flyway-megamap .ie-gradient-bottom {
  background-size: auto 200px;
  background-repeat: repeat-x;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
}
.flyway-megamap .ie-gradient-top {
  background-image: url(../img/ie/white-gradient-down.png);
  background-position: center top;
  top: 0;
}
.flyway-megamap .ie-gradient-bottom {
  background-image: url(../img/ie/white-gradient-up.png);
  background-position: center bottom;
  bottom: 0;
}

.flyway-megamap-point .portrait {
  border: 0px !important;
}

.flyway-path-map {
  visibility: hidden;
}
.flyway-path-map.current {
  visibility: visible;
}
.flyway-path-map .flyway-megamap-point {
  margin-top: 0 !important;
  top: 300px;
}

.icon-video,
.icon-facebook,
.icon-magnifier,
.icon-mail,
.icon-twitter,
.icon-pinterest,
.icon-youtube,
.icon-instagram,
.icon-sound-full,
.icon-spin-widdershins {
  display: inline-block;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.icon-video:before,
.icon-facebook:before,
.icon-magnifier:before,
.icon-mail:before,
.icon-twitter:before,
.icon-pinterest:before,
.icon-youtube:before,
.icon-instagram:before,
.icon-sound-full:before,
.icon-spin-widdershins:before {
  content: "";
}

.icon-video {
  background-image: url(../img/ie/icon-video.png);
}

.icon-facebook {
  background-image: url(../img/ie/icon-facebook.png);
}

.icon-magnifier {
  background-image: url(../img/ie/icon-magnifier.png);
}

.icon-mail {
  background-image: url(../img/ie/icon-mail.png);
}

.icon-twitter {
  background-image: url(../img/ie/icon-twitter.png);
}

.icon-pinterest {
  background-image: url(../img/ie/icon-pinterest.png);
}

.icon-youtube {
  background-image: url(../img/ie/icon-youtube.png);
}

.icon-instagram {
  background-image: url(../img/ie/icon-instagram.png);
}

.icon-spin-widdershins {
  background-image: url(../img/ie/icon-spin-widdershins.png);
}

.icon-sound-full {
  background-image: url(../img/ie/icon-sound-full.png);
}

.global-header.dark-text .primary-nav-search i.icon-magnifier {
  background-image: url(../img/ie/icon-magnifier-dark.png);
}

.bird-guide-country select {
  background: #ffffff;
  padding-right: 10px;
  height: 40px;
  padding: 8px 5px 7px;
}

input.bird-guide-zip-input {
  height: 40px;
  padding: 10px 0 0 5px;
}

.bird-card-set .section-nav {
  bottom: 5px !important;
}
.bird-card-set .inline-list {
  margin-top: 10px !important;
}

.section-nav li:before {
  content: " | ";
  color: rgba(131, 128, 120, 0.5);
  margin: 0 5px 0 0;
}
.section-nav li.first:before {
  display: none;
}
.section-nav li.hide-for-tiny:before {
  display: none;
}
