* {
  @include box-sizing(border-box);
  // Go big or go home.
}

body {
  @include font-smoothing(on);
  color: $color-text-gray;
  font-family: $font-serif;
  font-size: $size-text-base;
  font-weight: 400;
  line-height: $size-line-base;

  &.black-bg {
    background-color: $color-black;
  }
}

@include width-range(#{lower-bound($small-range)}, 1020px) {
  .row {
    padding-left: $column-gutter/2;
    padding-right: $column-gutter/2;
    .row {
      padding: 0;
    }
  }
}

// -----
// Links
// -----

a {
  @include transition(color 0.15s);
  color: $color-bright-blue;
  text-decoration: none;
  outline: 0 !important;
  &:hover {
    color: darken($color-bright-blue, 15%);
  }
}

// ------
// Media
// ------

img, video, embed, object, iframe {
  max-width: 100%;
}

// -------
// Headers
// -------

h1, h2, h3, h4, h5 {
  color: $color-dark-gray;
  font-family: $font-sans;
  font-weight: 400;
  margin: 0 0 $size-line-base 0;
  > a {
    color: $color-black;
    &:hover {
      color: darken($color-bright-blue, 25%);
    }
  }
  &.thin {
    font-weight: 300;
  }
  &.centered {
    text-align: center;
  }
}
h1 {
  font-size: $size-text-h2;
  font-weight: 300;
  line-height: $size-line-h2;
  letter-spacing: -1px;
  @include breakpoint(large-up) {
    font-size: $size-text-h1;
    line-height: $size-line-h1;
    letter-spacing: -2px;
  }
}
h2 {
  font-size: $size-text-h3;
  line-height: $size-line-h3;
  letter-spacing: -0.5px;
  @include breakpoint(large-up) {
    font-size: $size-text-h2;
    line-height: $size-line-h2;
  }
}
h3 {
  font-size: $size-text-h4;
  line-height: $size-line-h4;
  letter-spacing: -0.5px;
  @include breakpoint(large-up) {
    font-size: $size-text-h3;
    line-height: $size-line-h3;
  }
}
h4 {
  font-size: $size-text-base + 2px;
  line-height: $size-line-base;
  @include breakpoint(large-up) {
    font-size: $size-text-h4;
    line-height: $size-line-h4;
    letter-spacing: -0.5px;
  }
}
h5 {
  font-size: $size-text-base;
  line-height: $size-line-base - 2px;
  margin-bottom: $size-line-base/2;
  @include breakpoint(large-up) {
    font-size: $size-text-base + 3px;
    line-height: $size-line-base;
    letter-spacing: -0.5px;
  }
}

// --------------------------
// Misc. inline text elements
// --------------------------

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

// -------------------
// Block text elements
// -------------------

p,
ul,
ol,
blockquote {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0;
  padding: 0;
}

hr {
  margin: $size-space 0;
  border: 0;
  border-top: 1px solid $color-light-gray;
}

ul {
  margin-left: 20px;
}

ul.no-bullets {
  list-style-type: none;
  margin-left: 0;
}

ul.item-margin {
  li {
    margin-bottom: $size-space;
  }
}

ul.small-list {
  li {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 6px;
  }
}