.sm2_playing .icon-sound-full:before {
  content: '\e601';
  font-size: 11px;
  left: -1px;
  position: relative;
  top: -2px;
}
.bird-card {
  .views-field-field-bird-audio,
  .field-name-field-bird-audio {
    display: block;
    font-size: 15px;
    left: 0;
    line-height: 15px;
    padding: 10px 25px 25px 10px;
    position: absolute;
    top: 0;
    li {
      display: none;

      &:first-child {
        display: block;
      }
    }

    a {
      font-size: 0;
      color: $color-bright-blue;
      .icon-sound-full {
        font-size: 15px;
      }
      &:hover {
        color: $color-bright-blue;
      }
    }
  }
}

.bird-guide-body {
  .field-name-field-bird-audio {
    padding-top: 10px;
  }
}

.bird-card-grid {
  .view-empty {
    background-color: transparent;
    color: #838078;
    font-family: "Source Sans Pro", Verdana, sans-serif;
    font-size: 17px;
    font-style: italic;
    line-height: 25.5px;
    text-align: center;
  }
}

.bird-card-set {
  .owl-carousel {
    .owl-wrapper-outer {
      padding-top: 5px;
    }

    .owl-controls {
      text-align: center;
      color: #888;

      .disabled i {
        opacity: 0.4;
      }

      .owl-prev, .owl-next {
        display: inline;
        margin: 0 5px;
      }
    }

    .owl-item {
      padding: 0 12.5px;
    }
  }
}
.contextual-links-wrapper ul.contextual-links li a {
  color: black !important;
}
.page-birds-landing .field-name-field-related-bird {
  @include breakpoint(large-up) {
    margin-top: -100px;
  }
}
.pager-load-more {
  .button.load-more:hover {
    background-color: #EDECEA;
  }
  
  &.pager-load-more-empty,
  .ajax-progress-throbber {
    display: none;
  }
}
.strip-nav.small .contextual-links li {
  margin: 0;
  padding: 0;
}
.dont-miss {
  ul.contextual-links {
    width: auto !important;
  }

  .strip-nav {
    overflow: visible;
  }
}

.editorial-card-body {
  * {
    display: inline;
  }
}

.hero-attribution-text.extra {
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 15px;
}

.hero-attribution {
  overflow: hidden;
  @include breakpoint(medium-up) {
    overflow: visible;
    .hero-attribution-text {
      padding: 2px 5px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &.bird-hero-attribution {
    @include breakpoint(medium-up) {
      &.sticky {
        position: fixed;
        bottom: 15px;
        .column {
          top: 0;
        }
      }
      width: auto;
      .column {
        position: relative !important;
      }
    }
  }
}

.hero-attribution-fullscreen {
  @extend .hero-attribution;
  .column {
    position: inherit;
    top: 0;
  }
}

.hero-caption {
  &.grey-bar {
    .caption {
      margin: 0;
    }
    @include breakpoint(tiny-only) {
      background-color: #f3f3f3;
      color: $color-text-gray;
      font-family: $font-sans;
      font-size: $size-text-tiny + 2px;
      line-height: $size-text-small;
      padding-top: $size-space/2;
      padding-bottom: $size-space/2;
    }
    @include breakpoint(small-only) {
      background-color: #f3f3f3;
      color: $color-text-gray;
      font-family: $font-sans;
      font-size: $size-text-tiny + 2px;
      line-height: $size-text-small;
      padding-top: $size-space/2;
      padding-bottom: $size-space/2;
    }
    @include breakpoint(medium-only) {
      background-color: #f3f3f3;
      color: $color-text-gray;
      font-family: $font-sans;
      font-size: $size-text-tiny + 2px;
      line-height: $size-text-small;
      padding-top: $size-space/2;
      padding-bottom: $size-space/2;
    }
  }
}
.manage-thumbnails-popup, #EPSACropDialog {
  img {
    max-width: none !important;
  }
}

.strip-nav {
  i[class^="icon-"], i[class*=" icon-"] {
    line-height: 11px;
  }
}
.donate-bar-caption {
  width: 69%;
}
.donate-bar-button {
  width: 29%;
}

/* Make press release published style different. ANW-272 */
.press-release .article-sidebar-section .article-date {
  font-style: normal;
  font-size: 14px;
}
.press-release .article-sidebar-section.article-meta {
  text-align: left;
}

.section-nav.mag-issue-nav {
  top: -49px;  
}
.mag-issue-title span {
  font-family: $font-sans;
  font-size: $size-text-large;
  margin-bottom: $size-space;
}
.mag-issue-header.section-header {
  margin-bottom: 5px;
}

.flyway-section {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  &.error {
    border: 1px solid #f15936;
  }
}

.text-container.thin {
  h1, h2 {
    font-weight: 300;
  }
}

.guide-bar-date a {
  color: #fff;
}

.card-set.bg-dark-gray .card-set-heading {
  color: #D4D4D4;
}

/** 
 * CTools popup forms refinements.
 */
#modalContent .ctools-modal-content {
  .description {
    color: #333;
    font-size: 13px;
  }

  .form-type-checkboxes,
  .form-type-radios {
    .form-item,
    input {
      margin: 0;
    }
  }

  .form-type-media {
    label {
      float: left;
      margin-right: 1em;

      &.media-filename {
        font-size: 10px;
        line-height: 12px;
        margin: 0;
        padding: 2px;
        width: 100%;
      }
    }

    .preview {
      margin-bottom: 1em;
      float: left;
    }

    .remove {
      clear: left;
    }
  }

  .clearfix {
    clear: both;
  }

  .resizable-textarea {
    margin: 0;
  }

  .sticky-header {
    display: none;
  }

  .button {
    margin-right: 1em;
    float: left;
  }

  input.form-submit {
    @include button;
    @include button-style($bg:$color-tomato);
    float: left;
    margin-right: 1em;

    &.field-add-more-submit {
      margin-top: 1em;
    }
  }

  .text-format-wrapper {
    margin-bottom: 1em;

    label {
      float: none;
    }

    .form-type-textarea {
      margin-bottom: 0;
    }

    .wysiwyg-toggle-wrapper {
      padding-left: 1.5em;
    }
    .form-type-select {
      margin:  0;

      select {
        margin: 0;
      }
    }
  }

  a.tabledrag-handle .handle {
    padding: 12px 10px;
  }

  .form-item-context,
  .form-item-reusable,
  .form-item-category,
  .form-item-admin-title,
  #edit-admin-description-wrapper,
  #edit-log-wrapper,
  .form-item-revision {
    display: none !important;
  }

  /**
   * Tables.
   */
  table {
    margin: 0 0 10px;
    width: 100%;
  }

  table td,table th {
    border: 0;
    color: #000;
    padding: 8px 10px;
    vertical-align: middle;
  }

  tr.even,tr.odd {
    background: #f3f4ee;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
  }

  tr.odd {
    background: #fff;
  }

  tr.drag {
    background: #fe7;
  }

  tr.drag-previous {
    background: #ffb;
  }

  table th {
    background: none repeat scroll 0 0 #E1E2DC;
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
  }

  table th.active {
    background: #0074BD;
    color: #fff;
  }

  table th a {
    display: block;
  }

  table th.active a {
    padding: 0 25px 0 0;/* LTR */
    color: #fff;
  }

  table th.active img {
    float: right;
    position: relative;
    right: -20px;
    top: 3px;/* LTR */
  }

  table td.active {
    background: transparent;
  }

  table tr.odd td.active {
    background: transparent;
  }

  table tr.selected td.active,table tr.selected td {
    background: #ffc;
    border-color: #eeb;
  }

  table.system-status-report tr {
    border-bottom: 1px solid #ccc;
    border-color: rgba(0,0,0,0.1);
  }

  table.system-status-report tr.ok {
    color: #255b1e;
    background-color: #e5ffe2;
  }

  table.system-status-report tr.info {
    color: #040f37;
    background-color: #bdf;
  }

  table.system-status-report tr.warning {
    color: #840;
    background-color: #fffbe2;
  }

  table tr.error {
    color: #C70000;
    background-color: #FFDDDD;
  }

  table tr.error td {
    color: #C70000;
  }

  /* Fieldsets */
  fieldset {
    border: solid 1px #ddd;
    border-top: 3px solid #0074BD;
    padding: 12px;
    margin: 18px 0;
  }

  fieldset legend {
    background: white;
    padding: 0 3px;
    margin: 0;
    margin-left: -3px;
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

  /**
   * Form elements.
   */
  .form-item {
    padding: 0 1em 0 0;
    margin: 0 0 10px;
  }

  .filter-wrapper .form-item,div.teaser-checkbox .form-item,.form-item .form-item {
    padding: 5px 0;
    margin: 0;
    border: 0;
  }

  .form-type-checkbox {
    padding: 0;
  }

  .text-format-wrapper .form-item {
    padding-bottom: 0;
  }

  .form-item label, .exposed-filters .form-item label {
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0;
    width: initial;
  }

  .form-item label.option {
    font-size: 16px;
    text-transform: none;
    padding: 0;
  }

  .form-item label.option input {
    vertical-align: middle;
  }

  .form-disabled input.form-autocomplete,.form-disabled input.form-text,.form-disabled input.form-file,.form-disabled textarea.form-textarea,.form-disabled select.form-select {
    background-color: #eee;
    color: #777;
  }

  .form-managed-file .form-file,.form-managed-file .form-submit {
    margin: 0 1em;
  }

  input.empty {
    color: #ccc !important;
  }

  .form-item label.option.hidden-options,
  .form-item label.option.expanded-options {
    height: auto;
    padding-right: 18px;
  }

  .-wrap-select {
    &.ie {
      float: left;

      select {
        background: none;
        width: 100%;
      }
    }
  }

  #editorial-card-river-edit-form {
    .form-item {
      width: 49%;
    }
    #edit-filter {
      position: absolute;
      right: 20px;
      top: 10px;
      width: 49%;
      .form-item {
        width: 100%;
      }
      label {
        float: none;
      }
      #edit-filter-menu-section {
        height: auto !important;
        background-image: none;
      }
    }
  }
}

.slideshow-sidebar-block {
  float: left;
}

body.node-type-slideshow {
  #tabs {
    position: relative;
    z-index: 10;
  }
  .slideshow {
    .engagement-card-photo {
      display: none;
    }
    @include breakpoint(tiny-only) {
      .text-container {
        h1 {
          font-size: 24px;
          line-height: 26px;
        }
      }

      .button {
        white-space: nowrap;
      }
    }
  }
}

.editorial-card-river-content-wrapper {
  .view {
    .contextual-links-wrapper {
      display: none !important;
    }
  }
}

.node-type-boa {
  @extend .lzoom2;
}

.global-header li a.active {
  color: #aaa;
}

.strip-nav li a.active,
.category-nav li a.active {
  color: $color-bright-blue;
}

.featured-bird-placeholder {
  @include breakpoint(small-up) {
    min-height: 400px;
  }
}

.boa-plate-view-wrapper {
  position: relative;
  &.show-bg {
    @include transition(background-image 0.5s ease-in-out);
    .row,
    .view-nas-bird-guide {
      @include transition(opacity 0.5s ease-in-out);
      opacity: 0;
      pointer-events: none;
      a {
        pointer-events: auto;
      }
    }
  }
}

.article-text,
.text-container {
  h1, h2, h3, h4, h5, h6 {
    > a {
      color: $color-bright-blue;
    }
  }
}