// Get some gradients into your life!
.breakout-section.black-bg .breakout-section-hero:not(:last-child):after {
  background-image: url(../img/ie/black-gradient-up.png);
  background-repeat: repeat-x;
}

.global-header.dark-bg {
  background-image: url(../img/ie/black-gradient-down.png);
  background-repeat: repeat-x;
  background-size: auto 120px;
}
.global-header.light-bg {
  background-image: url(../img/ie/white-gradient-down.png);
  background-repeat: repeat-x;
  background-size: auto 120px;
}

// Slideshow styles!
.slideshow-title {
  margin-top: 60px;
}
.slideshow {
  top: -60px;
  margin-bottom: 15px;
}
.slideshow-button {
  top: 340px !important;
}
.slide {
  position: relative;
}
.slide-img {
  width: 100%;
  height: auto;
}
.title-slide-content,
.end-slide-content {
  position: absolute;
  width: 90%;
  top: 260px;
  left: 5%;
}
.title-slide,
.end-slide {
  .slide-img:after {
    background-color: rgba(#000, 0.6);
  }
}

// Flyway Landing Stuff

.flyway-megamap {
  height: 800px;
  background-size: cover;
  background-position: center center !important;
}
.flyway-path-map {
  .flyway-megamap-point {
    margin-top: 0 !important;
    top: 300px;
  }
}

.top-search-form-input{
  input {
    font-size: 25px;
  }
}
